<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      
      <!-- Page Top Title Start -->  
      <app-page-top [pageTitle]="pageTitle"></app-page-top>
      <!-- Page Top Title End -->
      
      <!-- User Profile Start -->  
      <app-profile></app-profile>
      <!-- User Profile End -->  

      <!-- Technical Support List Start -->  
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
        </div>
      </div>
      <!-- Technical Support List End -->  


      <!-- Quick Links Start -->  
      <app-quick-links></app-quick-links>
      <!-- Quick Links End --> 
    
    </div>
  </div>
</div>
