<ion-content>
  <ion-grid>
    <!-- Page Top Title Start -->
    <ion-row>
      <ion-col size="12">
        <app-page-top [pageTitle]="pageTitle"></app-page-top>
      </ion-col>
    </ion-row>
    <!-- Page Top Title End -->

    <!-- User Profile Start -->
    <ion-row>
      <ion-col size="12">
        <app-profile></app-profile>
      </ion-col>
    </ion-row>
    <!-- User Profile End -->

    <!-- Technical Support List Start -->
    <ion-row>
      <ion-col size="12">
        <ion-row class="technical-support-container">
          <ion-col sizeLg="3" sizeMd="3" sizeXs="12" size="12" class="technical-support" *ngFor="let card of landingPageCards">
            <a href="javascript:void(0)" class="technical-support_card">
              <img [src]="card.img" alt="" class="internet-issue-icon" />
              <div class="technical-support_content">
                <h5 class="technical-support_title">{{ card.title }}</h5>
                <p>{{ card.body }}</p>
              </div>
            </a>
          </ion-col>
        </ion-row>

        <!-- <div class="row technical-support-container">
          <div class="col-sm-12 col-md-3 technical-support internet-issue">
            <a href="javascript:void(0" class="technical-support_card">
              <div class="technical-support_icon">
                <img src="../../../../assets/images/duo-tone-icons/icon_internet_issues.svg" alt="Internet Issue Icon" class="internet-issue-icon" />
              </div>
              <div class="technical-support_content">
                <h5 class="technical-support_title">Internet issues</h5>
                <p>My Wi-Fi is slow or causing problems</p>
              </div>
            </a>
          </div> 

          <div class="col-sm-12 col-md-3 technical-support tv-issue">
            <a href="javascript:void(0" class="technical-support_card">
              <div class="technical-support_icon">
                <img src="../../../../assets/images/duo-tone-icons/icon_tv_issues.svg" alt="Internet Issue Icon" class="tv-issue_icon" />
              </div>
              <div class="technical-support_content">
                <h5 class="technical-support_title">TV issues</h5>
                <p>My Tv isn't working properly</p>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-3 technical-support phone-issue">
            <a href="javascript:void(0" class="technical-support_card">
              <div class="technical-support_icon">
                <img src="../../../../assets/images/duo-tone-icons/icon_telephone_issues.svg" alt="Internet Issue Icon" class="phone-issue_icon" />
              </div>
              <div class="technical-support_content">
                <h5 class="technical-support_title">Phone issues</h5>
                <p>I can't make any calls</p>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-3 technical-support other-issue">
            <a href="javascript:void(0" class="technical-support_card">
              <div class="technical-support_icon">
                <img src="../../../../assets/images/duo-tone-icons/icon_service_issues.svg" alt="Internet Issue Icon" class="other-issue_icon" />
              </div>
              <div class="technical-support_content">
                <h5 class="technical-support_title">Other issues</h5>
                <p>I am facing issues with all services</p>
              </div>
            </a>
          </div>

          <div class="col-sm-12 col-md-3 technical-support password-issue">
            <a href="javascript:void(0" class="technical-support_card">
              <div class="technical-support_icon">
                <img src="../../../../assets/images/duo-tone-icons/icon_password_issues.svg" alt="Internet Issue Icon" class="password-issue_icon" />
              </div>
              <div class="technical-support_content">
                <h5 class="technical-support_title">Password issues</h5>
                <p>I want to change or reset my password</p>
              </div>
            </a>
          </div>
        </div> -->
      </ion-col>
    </ion-row>
      <!-- Technical Support List End -->

    <ion-row>
      <ion-col size="12">
        <!-- Quick Links Start -->
        <app-quick-links [codeType]="codeType"></app-quick-links>
        <!-- Quick Links End -->
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>



  <!-- <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>
</ion-card> -->

