<!-- Modal Header Start -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <h5>{{ modelHeader | translate }}</h5>
    </ion-title>
    <ion-buttons slot="end">
      <motive-button [title]="'BUTTONS.CLOSE'" [type]="'link'" (clickHandler)="dismiss()"></motive-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Modal Header End -->

<ion-content>
  <ion-grid class="ion-no-padding">
    <!-- Dialog Internet Issues List Start -->
    <form [formGroup]="formGroup">
      <ion-row>
        <ion-col size="12" class="pb-0">
          <ion-list>
            <ion-radio-group allow-empty-selection="true" name="radio-group" formControlName="radioList">
              <ion-list-header>
                <!-- <ion-label>Name</ion-label> -->
              </ion-list-header>

              <ion-item *ngFor="let item of arrayList">
                <ion-label>{{ item.text }}</ion-label>
                <ion-radio slot="start" name="radio-group" value="{{ item.value }}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.SELECT'" [type]="'primary'" [disable]="!formGroup.valid" (clickHandler)="dismiss()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
