<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Heading -->
    <ion-row>
      <ion-col size="12">
        <div>
          <h5>{{ 'BROWSERSTEPPER.HEADING_STEP' + step | translate }}</h5>
        </div>
      </ion-col>
    </ion-row>

    <!-- Page Content  -->
    <ion-row>
      <ion-col size="12">
        <div>
          <p>{{ 'BROWSERSTEPPER.DESCRIPTION1_STEP' + step | translate }}</p>
        </div>
        <div style="text-align: center; height: 300px; background-color: lightgray">
          <img alt="Picture placeholder" width="300px" height="300px" />
        </div>
        <div>
          <p>{{ 'BROWSERSTEPPER.DESCRIPTION2_STEP' + step | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-buttons [buttonsConfig]="buttonConfig"></app-buttons>
</ion-content>
