<ion-grid class="form-main-container channel-list-dialog-container">
  <!-- Dialog Heading -->
  <ion-row>
    <ion-col size="12">
      <div class="__title-wrapper">
        <h2>{{ 'MESSAGES.CHANNEL_IS_NOT_ON_THE_LIST' | translate }}</h2>
      </div>
      <div class="__desc-wrapper">
        <p>{{ 'MESSAGES.THE_CHANNEL_IS_NOT_AVAILABLE_AS_PART_OF_THE_TV_PACKAGE_YOU_HAVE_SUBSCRIBED' | translate }}</p>
        <p [innerHTML]="'MESSAGES.IF_YOU_WISH_TO_SUBSCRIBE_MORE_CHANNELS_PLEASE' | translate"></p>
      </div>
    </ion-col>

    <ion-col [sizeLg]="6" [sizeMd]="12" [size]="12" class="pt-0 pb-0 ion-text-center">
      <div class="button-wrapper">
        <ion-button class="btn primary-btn follow-up green-box-shadow" (click)="endTroubleshoot()">{{ 'BUTTONS.END_TROUBLESHOOTING' | translate }}</ion-button>
      </div>
    </ion-col>

    <ion-col [sizeLg]="6" [sizeMd]="12" [size]="12" class="pt-0 pb-0 ion-text-center">
      <div class="button-wrapper">
        <div class="transparent-btn" (click)="closePopup()">
          <a> {{ 'BUTTONS.CANCEL' | translate }}</a>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
