<ion-content>
  <ion-grid class="device-care-container">
    <!-- Web View start -->
    <ion-row class="device-care_inner_container">
      <ion-col sizeLg="6" sizeMd="12" size="12">
        <div class="image">
          <img [src]="unableToConnectContent?.imgSrc" alt="Picture placeholder" />
        </div>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="12" size="12" class="device-care_content">
        <div class="content">
          <!-- Content 2 -->
          <ul no-lines *ngIf="unableToConnectContent?.listItems" class="bullet-list">
            <li *ngFor="let bullet of unableToConnectContent?.listItems; let i = index">
              {{ i + 1 }}.
              {{ bullet.text | translate }}
              <ul no-lines *ngIf="bullet?.children" class="bullet-list">
                <li *ngFor="let item of bullet?.children; let j = index">
                  {{ i }}.{{ j + 1 }}.
                  {{ item.text | translate }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ion-col>
    </ion-row>
    <!-- Web View End -->    
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col [sizeLg]="myBtnSize" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (click)="button1Listener()"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (click)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeLg="6" sizeMd="12" size="12" class="pt-0 pb-0" *ngIf="button3">
      <motive-button
        [type]="button3.type"
        [title]="button3.title"
        [explanatoryNote]="button3.explanatoryNote"
        [SM]="button3.SM"
        [MD]="button3.MD"
        [LG]="button3.LG"
        (click)="button3Listener()"
      ></motive-button>
    </ion-col>
  </ion-row>
</div>
