@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
  ion-list {
    --ion-background-color: transparent;
    padding-bottom: 0;
  }
  ion-item {
    --min-height: auto;
    ion-label {
      color: $secondary-color;
    }
  }
}
ion-item::part(native) {
  --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-inline-start: 0;
  --border-radius: 0;
  --border-width: 0;
  --inner-border-width: 0;
}
// --------------------------------------------------------------
ion-grid {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
.device-care-container,
.device-care_inner_container {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
ul.bullet-list{
  padding-left: 0;
  @media screen and (min-width: 992px) {
    padding-left: 40px;
  }
  li {
    color: $etisalat-gray-color;
    margin: 18px 0;    
    list-style: none;
    @media screen and (max-width: 992px) {
      font-size: 14px;
    } 
    &:first-of-type{
      margin-top: 0;
    }
    ul{
      padding-left: 30px;
      li{
        margin-top: .3rem;
        margin-bottom: 0;
                 
      }
    }
  }
}
.device-care_title {
  @media screen and (min-width: 992px) {
    display: none;
  }
}
.device-care_content {
  height: 100%;
  .page-top_title {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  h2 {
    font-family: $font-family-SuisseInt;
    margin-top: 0;
  }
}
.image {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
  height: auto;
 /* margin: 2rem auto 0; */
 @media screen and (max-width: 992px) {
  margin-top: 1rem;
  }
  img {
    width: 100%;
  }
}
.content {
  max-width: 550px;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: 992px) {
    max-width: 100%;
  }
}
p {
  color: $secondary-color;
  line-height: 1.5;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    .footer-btns-container {
      ion-row {
        width: 100%;
      }
      ion-col {
        &:first-child {
          ion-col {
            -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 100% !important;
          }
        }
        motive-button {
          min-width: 100%;
          width: 100%;
        }
      }
      > ion-col {
        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
.footer{
  .footer-btns-container{
    ion-col{
      ion-row{
        ion-col{
          &:first-child{
            -webkit-box-ordinal-group:3;
            -ms-flex-order:2;
            order:2;
            @media screen and (max-width: 992px) {
            -webkit-box-ordinal-group:inherit;
            -ms-flex-order:inherit;
            order:inherit;
            }
          }
        }
      }
    }
  }
}