@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';

// --------------------------------------------------------------
:host {
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
  ion-list{
    --ion-background-color:transparent;
    padding-bottom: 0;
  }
  ion-checkbox{
    margin-right: 0;
    margin-left: 0;
    width: 1.5rem;
    height: 1.5rem;
    --background:$white;
    --border-radius:50%;
    --border-color:#719E19;
    --border-style:solid;
    --checkmark-color:#ffffff;
    --background-checked:#719E19;
    --border-color-checked:#719E19;
   /*  --size: 26px;
    width: var(--size);
    height: var(--size); 
    --checkmark-width:1px; 
    box-shadow: 0 5px 10px rgb(25 0 0 / 16%);*/
    .checkbox-icon{
      background-color: red;
    }
  }
}
ion-item::part(native){
  --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-inline-start: 0;
}
/*  ion-checkbox::part(container){
  margin-right: 0;
  margin-left: 0;
  width: 1.5rem;
    height: 1.5rem;
    --border-color:#719E19;
}  */

// --------------------------------------------------------------

.form-main-container{
  font-family:Lato,Roboto,Arial,sans-serif;
  .form-inner_container{
    ion-item{
      margin-bottom: 1rem;
    }
   /*  @media screen and (max-width: 992px)  {
      ion-item{
        margin-bottom: 1rem;
      }
    } */
    form{
      ion-item{
        ion-label{
          color: $secondary-color;
          font-size: 1rem;
          -webkit-transform: scale(0.90);
          -ms-transform: scale(0.90);
          transform: scale(0.90);
        }
      }
      .check-list{
        padding-top: 0;
        ion-item{
          --min-height: auto;
          margin-bottom: 0;
          img{
            display: inline-block;
            height: 1.4rem;
          }
          ion-label{
            transform:none;
            margin-top: 0;
            margin-left: .8rem;
            margin-bottom: 0;
          }
        }
      }
      .agree-terms{
        ion-item{
          --min-height: auto;
          margin-bottom: 0;
          --border-style:none;
          ion-label{
            transform:none;
            margin-top: 0;
            margin-right: 0;
            margin-left: .8rem;
            margin-bottom: 0;
            a{
              color: $etisalat-color;
              display: inline-block;
              @include transition(all 0.3s ease-in-out);
              &:hover{
                color: $primary-color;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
  
  
}
