<div class="main-wizard-container">
  <!-- Upper Flow Start -->
  <div class="three-boxes-config">
    <div class="box-1 three-boxes">
      <div class="image-text-box">
        <div [class]="etisalatConfig?.className + '-state state'">
          <img [src]="etisalatConfig?.url" alt="Smart Phone Default State" />
        </div>
        <span class="image_label">{{ etisalatConfig.title }}</span>
      </div>

      <!-- class="default-line" -->
      <div [class]="ontConfig?.className + '-line straight-line'"></div>
    </div>
    <div class="box-2 three-boxes">
      <div class="image-text-box">
        <div [class]="ontConfig?.className + '-state state'">
          <img [src]="ontConfig?.url" alt="Smart Phone okay State" />
        </div>
        <span class="image_label">{{ ontConfig?.title }}</span>
      </div>
    </div>
    <div class="box-3 three-boxes"></div>
  </div>
  <!-- Upper Flow End -->

  <!-- Three Flow Start -->
  <div class="three-flow-box-contaier" *ngIf="devices">
    <div class="flow-box flow-box_left">
      <div [class]="devices[0]?.className + '-lines line'">
        <div class="line-left"></div>
        <div class="line-center"></div>
        <div class="line-right"></div>
      </div>
      <div class="image-text-box">
        <div [class]="devices[0]?.className + '-state state'">
          <img [src]="devices[0]?.url" />
        </div>
        <span class="flow-box_label"> {{ devices[0]?.title }} </span>
      </div>
    </div>
    <div class="flow-box flow-box_center">
      <div [class]="devices[1]?.className + '-vline line'" *ngIf="devices[1]">
        <div class="line-vcenter"></div>
      </div>
      <div class="image-text-box" *ngIf="devices[1]">
        <div [class]="devices[1]?.className + '-state state'">
          <img [src]="devices[1]?.url" />
        </div>
        <span class="flow-box_label"> {{ devices[1]?.title }} </span>
      </div>
    </div>
    <div class="flow-box flow-box_right">
      <div [class]="devices[2]?.className + '-lines line'" *ngIf="devices[2]">
        <div class="line-left"></div>
        <div class="line-center"></div>
        <div class="line-right"></div>
      </div>
      <div class="image-text-box" *ngIf="devices[2]">
        <div [class]="devices[2]?.className + '-state state'">
          <img [src]="devices[2]?.url" />
        </div>
        <span class="flow-box_label"> {{ devices[2]?.title }} </span>
      </div>
    </div>
  </div>
  <!-- Three Flow End -->
</div>

<!-- <div class="states-inner_container">
  <div class="step-wizard-container ion-text-center">
    <div class="steps-header">
        <div class="steps">
            <div class="box-design pending">
              <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                <span>Etisalat</span>
            </div>
        </div>
        <div class="steps error">
            <div class="box-design">
                <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
               <span>ONT</span> 
            </div>
        </div>
        <div class="steps active">
            <div class="box-design">
                <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                <span> ONT 1</span>  
            </div>
        </div>
    </div>

    
    <div class="step-active-content">
        <div class="step-tree-list">
            <div class="tree-step active-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
            <div class="tree-step pending-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
            <div class="tree-step error-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div> -->
