<ion-header class="header-wrapper">
  <ion-toolbar *ngIf = "!termsAndCondition">
    <div class="header-inner">
      <a href="javascript:void(0)" class="back-to-page" *ngIf="headerConfig.showBackBtn" (click)="back()">
        <img src="assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page" />
      </a>
      <div class="ion-text-center">
        <ion-title class="tex">{{ headerConfig.pageTitle | translate }}</ion-title>
      </div>
    </div>
  </ion-toolbar>
  <ion-toolbar *ngIf = "termsAndCondition">
    <div class="header-inner">
      <a href="javascript:void(0)" class="back-to-page" (click)="close()">
        <img src="assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page" />
      </a>
      <div class="ion-text-center">
        <ion-title class="tex">{{ headerConfig.pageTitle | translate }}</ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
