<ion-header class="header-wrapper">
  
  <ion-toolbar>
    <div class="header-inner">
      <a href="javascript:void(0)" class="back-to-page">
        <img src="assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page" />
      </a>
      <div class="ion-text-center">
        <ion-title class="tex">My Navigation Bar</ion-title>
      </div>
    </div>
  </ion-toolbar>
  <div class="page-top-container">
    <ion-row class="page-top_back">
      <ion-col size="12">
        <a href="javascript:void(0)" class="back-to-page">
          <img src="assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page" />
          <span>Back</span>
        </a>
      </ion-col>
    </ion-row>
  </div>
  
  

</ion-header>


