<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row>
      <ion-col size="12" class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
        <p *ngIf="!formGroup.valid" class="tag-title">{{ 'SUBHEADER.PLEASE_FILL_YOUR_COMPLETE_DETAILS' | translate }}</p>
        <p *ngIf="formGroup.valid" class="tag-title etisalat-gray-color">{{ 'SUBHEADER.REVIEW_YOUR_CONTACT_DETAILS' | translate }}</p>
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col sizeLg="4" sizeMd="6" size="12">
        <form [formGroup]="formGroup" (ngSubmit)="button1Listener()">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.MOBILE_NO' | translate }}</ion-label>
                <ion-input
                  type="text"
                  maxlength="10"
                  appNumberOnly
                  placeholder="05xxxxxxxx"
                  formControlName="mobileNo"
                  [ngClass]="{ 'is-invalid': f.mobileNo.errors && f.mobileNo.errors.pattern }"
                >
                </ion-input>
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'mobileNo') && f.mobileNo.touched">
                {{ 'Errors.MOBILE_NO_MUST_START_WITH_971' | translate }}
              </div>
            </ion-col>

            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.REMARKS' | translate }}</ion-label>
                <ion-input maxlength="100" type="text" formControlName="remarks"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Reset Book A Complaint Buttons -->
          <!-- <motive-button [title]="buttonText" [type]="'primary'" [disable]="!formGroup.valid" (clickHandler)="SubmitForm()"></motive-button> -->
          <!-- <motive-button [title]="'BUTTONS.BACK'" [type]="'link'" (clickHandler)="onBackClick()"></motive-button> -->

          <!-- Reset Book A Complaint Buttons -->
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col [sizeLg]="myBtnSize" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (clickHandler)="button1Listener()"
            [disable]="!formGroup.valid"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (clickHandler)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeLg="6" sizeMd="12" size="12" class="pt-0 pb-0 ion-text-center" *ngIf="button3">
      <motive-button
        *ngIf="button3"
        [type]="button3.type"
        [title]="button3.title"
        [explanatoryNote]="button3.explanatoryNote"
        [SM]="button3.SM"
        [MD]="button3.MD"
        [LG]="button3.LG"
        (clickHandler)="button3Listener()"
      ></motive-button>
    </ion-col>
  </ion-row>
</div>
