<app-page-top></app-page-top>

<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row>
      <ion-col size="12">
        <div class="page-top_title">
          <h2>Book a Complaint</h2>
        </div>
        <p class="sub-title">Please fill your complete details</p>
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-grid class="pr-0 pl-0">
            <ion-row>
              <ion-col sizeLg="4" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'BOOKING_COMPLAINT.MOBILE_NUMBER1' | translate }}</ion-label>

                  <ion-input
                    type="text"
                    [brmasker]="{ form: formGroup.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="MobileNo"
                    [ngClass]="{ 'is-invalid': f.MobileNo.errors && f.MobileNo.errors.pattern }"
                  ></ion-input>

                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'MobileNo') && f.MobileNo.touched">
                    {{ error.phoneNumber }}
                  </div>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="4" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'BOOKING_COMPLAINT.MOBILE_NUMBER2' | translate }}</ion-label>
                  <ion-input
                    type="text"
                    [brmasker]="{ form: formGroup.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="AlternateContactNo"
                    [ngClass]="{ 'is-invalid': f.AlternateContactNo.errors && f.AlternateContactNo.errors.pattern }"
                  ></ion-input>
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'AlternateContactNo') && f.AlternateContactNo.touched">
                    {{ error.phoneNumber }}
                  </div>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="4" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'BOOKING_COMPLAINT.REMARKS' | translate }}</ion-label>
                  <ion-input type="text" formControlName="Remarks"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col sizeLg="2" sizeMd="2" sizeSm="12" size="12">
                <ion-button class="btn secondary-btn close full-width" [disabled]="!formGroup.valid" (click)="SubmitForm()">Submit</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
