<ion-content>
  <ion-grid class="info-container success-container">
    <!-- Action Icon Start -->
    <ion-row class="info-container_icon">
      <ion-col size="12">
        <img src="assets/images/super-icons/icon_supericon_consumer_success_success_consumer_regular.svg" width="120px" height="120px" alt="Success" />
      </ion-col>
    </ion-row>
    <!-- Action Icon End -->

    <!-- Action Title Content Start -->
    <ion-row class="info-container_title_content">
      <!-- <ion-col sizeLg="8" sizeMd="8" offset-lg="2" offset-md="2" size="12"></ion-col> -->
      <ion-col size="12">
        <div class="content">
          <h4>Thank you</h4>
          <p>Thank you</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Action Title Content End -->
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border footer">
  <ion-row>
    <ion-col size="12">
      <div class="btn-bottom">
        <ion-button class="btn secondary-btn close">Close</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>
