<ag-grid-angular
    id="myGrid"
    style="width: 100%; height: 100%"
    class="ag-theme-balham"
    [gridOptions]="gridOptions"
    [rowHeight]="30"
    [headerHeight]="30"
    [headerHeight]="headerHeight"
    [columnDefs]="columnDefsInternal"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [suppressRowClickSelection]="suppressRowClickSelection"
    [suppressClickEdit]="!editable"
    [suppressCellSelection]="suppressCellSelection"
    [rowSelection]="rowSelection"
    [components]="components"
    [gridOptions]="gridOptions"
    [frameworkComponents]="frameworkComponents"
    [pagination]="pagination"
    [paginationAutoPageSize]="paginationAutoPageSize"
    [paginationPageSize]="paginationPageSize"
    [cacheOverflowSize]="cacheOverflowSize"
    [maxBlocksInCache]="maxBlocksInCache"
    [maxBlocksInCache]="rowBuffer"
    [infiniteInitialRowCount]="infiniteInitialRowCount"
    [cacheBlockSize]="cacheBlockSize"
    [editType]="editType"
    [noRowsOverlayComponent]="'GridNorowOverlayComponent'"
    [loadingOverlayComponent]="'GridOverlayComponent'"
    [loadingOverlayComponentParams]="gridOverlayComponentParams"
    [getContextMenuItems]="getContextMenuItems"
    [rowModelType]="rowModelType"
    [pinnedBottomRowData]="pinnedBottomRowData"
    [getRowStyle]="getRowStyle"
    [stopEditingWhenGridLosesFocus]="stopEditingWhenGridLosesFocus"
    [tooltipShowDelay]="0"
    [tabToNextCell]="true"
    (newColumnsLoaded)="(onNewColumnsLoaded)"
    (modelUpdated)="(onGridModelUpdated)"
    (selectionChanged)="onSelectionChanged($event)"
    (selectEditorValueChange)="(selectEditorValueChange)"
    (gridReady)="initRowDataOnGridReady($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (cellValueChanged)="onCellValueChangedInternal($event)"
    (rowDoubleClicked)="onRowDoubleClicked($event)"
    [suppressColumnVirtualisation]="suppressColumnVirtualisation"
    (keyup)="onKeyUp($event)"
></ag-grid-angular>
