@import '../../../assets/scss/base/mixins';


.primary-btn,
.secondary-btn{
  @include transition(all 0.3s ease-in-out);
  text-transform: $text-uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.14285714em;
  padding: .48rem 1rem;
  min-height: 3rem;
  width: auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;

}
.primary-btn{
  color: #f1f1eb;
  border: 2px solid $etisalat-color;
  background-color:$etisalat-color;
  &:hover,
  &:active,
  &:focus{
    color: #333333;
    background-color: transparent;
    border: 2px solid $black;
    
  }
}
.secondary-btn{
  color: #333333;
  border: 2px $black solid;
  background-color: transparent;
  &:hover,
  &:active,
  &:focus{
    color: #f1f1eb;
    background-color: $etisalat-color;
    border: 2px solid $etisalat-color;
  }
}


