@import './variables';
/* .body-wrapper {
  background-color: $alabaster;
  padding: 49px 0 0 66px;
  height: calc(100vh - 120px);
  height:100vh;
} */
.app-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.body-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  height: auto;
}
ion-footer{
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
a {
  cursor: pointer;
}
input {
  &::placeholder,
  &::-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: $silver-chalice;
    font-size: 14px;
    line-height: 19px;
  }
}
