@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
@mixin transform($transformsY) {
	-webkit-transform: $transformsY;
	-moz-transform: $transformsY;
	-ms-transform: $transformsY;
	transform: $transformsY;
}

/* @mixin box-shadow-hover($x:0, $y:0.35em, $blur:1.175em, $color:rgb(2 8 20 / 10%)) {
  -webkit-box-shadow: $x, $y, $blur, $color;
   box-shadow: $x, $y, $blur, $color;
} */
@mixin parent() {
  white-space:nowrap;
}

@mixin after() {
  content:"";
  display:inline-block;
  white-space: normal;
  vertical-align:middle;
  height:100%;
}

@mixin childerns() {
  display:inline-block;
  white-space:normal;
  vertical-align:middle;
}

@mixin homeTiles($color) {
  background: rgba($color, 0.09);
  color: $color;
  h2 { color: $color;}
  .banner {
    .img-wrap { background: $color;}
  }
  &:hover { 
    border-color: $color;
    transform: translate(0,-2px);
    transition: transform .2s ease-in-out;
  }
}
@mixin scaleX ($ratio) {
  -webkit-transform: scaleX($ratio);
  -moz-transform: scaleX($ratio);
  -ms-transform: scaleX($ratio);
  -o-transform: scaleX($ratio);
  transform: scaleX($ratio);
}
@mixin direction ($direction) {
  html[dir=#{$direction}] & {
      @content;
  }
}

@mixin lang ($lang) {
  html[lang=#{$lang}] & {
      @content;
  }
}

$isRTL: false !default;
@mixin rtl {
  @if $isRTL {
    @if & {
      & {
        @content;
      }
    }
    @else {
      @content;
    }
  }
}
