@mixin parent() {
  white-space:nowrap;
}

@mixin after() {
  content:"";
  display:inline-block;
  white-space: normal;
  vertical-align:middle;
  height:100%;
}

@mixin childerns() {
  display:inline-block;
  white-space:normal;
  vertical-align:middle;
}

@mixin homeTiles($color) {
  background: rgba($color, 0.09);
  color: $color;
  h2 { color: $color;}
  .banner {
    .img-wrap { background: $color;}
  }
  &:hover { 
    border-color: $color;
    transform: translate(0,-2px);
    transition: transform .2s ease-in-out;
  }
}
