$white: #ffffff;
$off-white:#fafaf8;
$gray: #eee;
$line: #ccc;
$black: #000000;
$gray: #939292;
$alabaster: #f9f8f8;
$dove-gray: #676767;
$bay-of-many: #223c7f;
$silver-chalice: #a3a3a3;
$mercury: #e1e1e1;
$red: #ff0000;
$dusty-gray: #979797;
$silver: #bababa;
$iron: #d0d1d2;
$blue-ribbon: #1259FA;
$gallery: #eaeaea;
$sapphire: #263d98;
$tundora: #464646;
$light-gray:#e7e7e7;
$etisalat-color:#0a0a0a;
$etisalat-gray-color:#0a0a0a;
$title-font: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
$primary-color:#353738;
$secondary-color:#848789;
$error-color:#e77400;
$relative:relative;
$absolute:absolute;
$text-uppercase: uppercase;
$text-lowercase: lowercase;
$text-capitalize:capitalize;
$border-color:#ededed;
$light-shade:#edede7;
$error-shade:#e77400;
$default-checkbox-border-color: #cecece;












