$white: #fff;
$gray: #eee;
$line: #ccc;
$black: #000;
$gray: #939292;
$alabaster: #f9f8f8;
$dove-gray: #676767;
$bay-of-many: #223c7f;
$silver-chalice: #a3a3a3;
$mercury: #e1e1e1;
$red: #ff0000;
$dusty-gray: #979797;
$silver: #bababa;
$iron: #d0d1d2;
$blue-ribbon: #1259FA;
$gallery: #eaeaea;
$sapphire: #263d98;
$tundora: #464646;








