<app-header-multi-line *ngIf="!isPartialLoaded" [headerConfig]="headerConfig"></app-header-multi-line>

<ion-content>
  <ion-grid class="service-detail-contanier two-col-container">
    <!-- Page Title Start -->
    <ion-row class="page-title" *ngIf="!isPartialLoaded">
      <ion-col class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
      </ion-col>
    </ion-row>
    <!-- Page Title End -->
    <!-- <ion-row class="service-detail_title">
      <ion-col size="12">
        <app-page-top></app-page-top>
      </ion-col>
    </ion-row> -->

    <ion-row class="service-detail-inner_container two-col_inner_container">
      <ion-col sizeLg="6" sizeMd="12" size="12" class="service-detail_slider two-col_left">
        <!-- Page Title Start -->
        <ion-row class="page-title" *ngIf="!isPartialLoaded">
          <ion-col size="12" class="ion-no-padding">
            <app-page-top></app-page-top>
          </ion-col>
        </ion-row>
        <!-- Page Title End -->

        <!-- Service List Slider Start -->
        <ion-row>
          <ion-col size="12" class="ion-no-padding">
            <app-multi-layer *ngIf="devices" [devices]="devices"></app-multi-layer>
          </ion-col>
        </ion-row>
        <!-- Service List Slider End -->
      </ion-col>

      <!-- Service List Start -->
      <ion-col sizeLg="6" sizeMd="12" size="12" class="service-detail_content two-col_right">
        <div class="content">
          <ion-row>
            <!-- Data Traffic Start -->
            <ion-col size="12" class="shadow-box">
              <div class="data-traffic">
                <h5 class="sub-title">{{ 'MESSAGES.BANDWIDTH' | translate }}</h5>
                <div class="data_upload_download">
                  <div class="data-icon">
                    <img src="assets/images/duo-tone-icons/icon_upload.svg" alt="upload" />
                    <span>{{ hsiUploadDownload ? hsiUploadDownload[0] : '0Mbps' }}</span>
                  </div>
                  <div class="data-icon">
                    <img src="assets/images/duo-tone-icons/icon_download.svg" alt="download" />
                    <span>{{ hsiUploadDownload ? hsiUploadDownload[1] : '0Mbps' }}</span>
                  </div>
                </div>
              </div>
            </ion-col>
            <!-- Data Traffic End -->

            <!-- Parental Control Start -->
            <!-- <ion-col size="12" class="shadow-box">
              <div class="parental-control ion-text-left">
                <h5 class="sub-title">{{ 'MESSAGES.PARENTAL_CONTROL' | translate }}</h5>
                <p>{{ 'MESSAGES.WEB_THREAT_PROTECTION' | translate }}</p>
                <p>{{ 'MESSAGES.CHILD_LOCK' | translate }}</p>
              </div>
            </ion-col> -->
            <!-- Parental Control End -->

            <ion-col size="12" class="shadow-box">
              <div class="parental-control">
                <h5 class="sub-title">{{ 'MESSAGES.DATA_TRAFFIC_LAST_1_HOUR' | translate }}</h5>
                <p>{{ dataTraffic }}</p>
              </div>
            </ion-col>

            <ion-col size="12" class="shadow-box">
              <div class="parental-control">
                <h5 class="sub-title">{{ 'MESSAGES.INTERNET_CONNECTION_STATUS' | translate }}</h5>
                <p [className]="internetConnectionStatus === 'Connected' ? 'active-result' : 'error-result'">
                  <strong>{{ internetConnectionStatus }}</strong>
                </p>
              </div>
            </ion-col>

            <ion-col size="12" class="shadow-box" *ngIf = "speedTestResult !== ''">
              <div class="parental-control ">
                <h5 class="sub-title">{{ 'MESSAGES.SPEED_TEST_RESULT' | translate }}</h5>
                <p class="error-result">
                  <strong>{{ speedTestResult }}</strong>
                </p>
              </div>
            </ion-col>

            <ion-col size="12" class="shadow-box">
              <div class="parental-control">
                <h5 class="sub-title">{{ 'MESSAGES.INTERNET_CALLING_PLAN' | translate }}</h5>
                <p [className] = "internetCallingPlan === 'MESSAGES.NOT_SUBSCRIBED' ? 'error-result' : 'active-result'">
                  <strong>{{ internetCallingPlan | translate }}</strong></p>
              </div>
            </ion-col>

            <!-- <ion-col size="12" class="shadow-box">
              <div class="parental-control ion-text-left">
                <h5 class="sub-title">{{ 'MESSAGES.FULL_HOME_WIFI_SERVICE' | translate }}</h5>
                <p>{{ 'Not subscribed' | translate }}</p>
              </div>
            </ion-col> -->
          </ion-row>

          <ion-row>
            <ion-col size="12" class="devices-network-container">
              <div class="devices-network">
                <p>Device on network</p>
                <span>{{ devices?.length || 0 }} devices</span>
              </div>
            </ion-col>

            <ion-col size="12" class="devices-list-container">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-row class="device_img_title">
                      <ion-col size="9" class="device_title ion-no-padding">
                        <img src="assets/images/indicators-icons/icon_all_okay.svg" alt="" />
                        <h5 class="sub-title">{{ routerName }}</h5>
                      </ion-col>
                      <ion-col size="3" class="device_image ion-no-padding">
                        <div class="image">
                          <img [src]="routerDefault" alt="View Details" />
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row class="links_container">
                    <ion-col size="6" class="ion-no-padding">
                      <!-- <a href="javascript:void(0)" class="arrow-link">
                        <span>{{ 'BUTTONS.REBOOT_ROUTER' | translate }}</span>
                        <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" />
                      </a> -->
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding">
                      <a href="javascript:void(0)" class="arrow-link">
                        <span>{{ 'BUTTONS.CHANGE_WIFI_PIN' | translate }}</span>
                        <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" /> </a
                    ></ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12" class="devices-list-container">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-row class="device_img_title">
                      <ion-col size="9" class="device_title ion-no-padding">
                        <img src="assets/images/indicators-icons/icon_all_okay.svg" alt="" />
                        <h5 class="sub-title">{{ 'MESSAGES.FIBER_BOX' | translate }}</h5>
                      </ion-col>
                      <ion-col size="3" class="device_image ion-no-padding">
                        <div class="image">
                          <img [src]="fiberBoxDefault" alt="View ont" />
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row class="links_container link_container">
                    <!-- <ion-col size="12" class="ion-no-padding">
                      <a href="javascript:void(0)" class="arrow-link">
                        <span>{{ 'BUTTONS.REBOOT_FIBER_BOX' | translate }}</span>
                        <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" />
                      </a>
                    </ion-col> -->
                   <!--  <ion-col size="6" class="ion-no-padding">
                      <a href="javascript:void(0)" class="arrow-link">
                        <span>{{ 'BUTTONS.CHANGE_WIFI_PIN' | translate }}</span>
                        <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" /> </a
                    ></ion-col> -->
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <!-- Device Network Card list Start -->
            <!-- <ion-col size="12" class="devices-list-container">
              <ion-card *ngFor="let d of devices">
                <ion-card-header>
                  <ion-card-title>
                    <img src="assets/images/indicators-icons/icon_all_okay.svg" alt="" />
                    <h5 class="sub-title">{{ d?.title }}</h5>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ d?.ipAddress }}</p>
                </ion-card-content>
              </ion-card>
            </ion-col> -->
            <!-- Device Network Card list End -->
          </ion-row>
        </div>
      </ion-col>
      <!-- Service List End -->
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Configured button -->
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col size="12" class="pr-0 pl-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (click)="button1Listener()"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (click)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
