@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
   --ion-font-family:Lato,Roboto,Arial,sans-serif;
   ion-card{
    border-radius: 0.5rem;
    margin-right: 0;
    margin-left: 0;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
   }
   ion-list{
    background: var(--ion-item-background, var(--ion-background-color, transparent ));
    --ion-background-color:transparent;
    padding-top: 0;
    padding-bottom: 0;
   }
   ion-item{
    --min-height: auto; 
    &:hover{
      --background-hover: transparent;
    }
    ion-label{
      margin-top: 0;
      margin-bottom:0;
      color: $primary-color;
    }
  }
}
ion-item::part(native){
  padding-inline-end: 0 ;
  --inner-padding-end: 0;
  padding-left: 0;
  --background:transparent;
  --border-radius:0;
  --border-width: 0;
  --inner-border-width: 0
}
// --------------------------------------------------------------

.btn {
  width: 100%;
}
.channel-list-items{
  margin: 0 0 22px 0;
}
