.longText {
  width: 300px;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}

.mat-form-field {
  .mat-input-element {
    .link {
      text-decoration: underline;
      cursor: pointer !important;
    }

  }
}
