<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Heading -->
    <ion-row>
      <ion-col size="12">
        <div>
          <h2>{{ 'SERVICE_DEATAIL.HEADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Service List Slider -->
    <ion-row>
      <ion-col size="12">
        <div>Service list slider here!!!</div>
      </ion-col>
    </ion-row>
    <!-- DATA TRAFFIC SECTION -->
    <ion-row>
      <ion-col size="12">
        <h5>{{ 'SERVICE_DEATAIL.DATA_TRAFFIC' | translate }}</h5>
        <span><img alt="upload" /> 50MB</span> &nbsp;
        <span><img alt="download" /> 80MB</span>
      </ion-col>
    </ion-row>
    <!-- PARENTAL CONTROL SECTION-->
    <ion-row>
      <ion-col size="12">
        <h5>{{ 'SERVICE_DEATAIL.PARENTAL_CONTROL' | translate }}</h5>
        <p>{{ 'SERVICE_DEATAIL.PARENTAL_CONTROL_WEB_THREAT_PROTECTION' | translate }}</p>
        <p>{{ 'SERVICE_DEATAIL.PARENTAL_CONTROL_CHILD_LOCK' | translate }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Device Network Card list Section -->
  <ion-row>
    <ion-col size="12">
      <div style="display: flex">
        <p>Device on network</p>
        &nbsp;
        <p class="text-right"><b>5 devices</b></p>
      </div>

      <ion-card *ngFor="let d of cardList">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="checkmark-sharp" class="success"></ion-icon> &nbsp;
            <span>{{ d.heading }}</span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ d.IP }}</p>
          <a href="javascript:void(0)" class="arrow-link">
            <span>{{ 'LINKS.VIEW_DETAILS' | translate }}</span>
            <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" />
          </a>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- Configured button -->
  <app-buttons [buttonsConfig]="buttonsConfig"></app-buttons>
</ion-content>
