@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
   --ion-font-family:Lato,Roboto,Arial,sans-serif;
   ion-card{
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
   }
   ion-list{
    background: var(--ion-item-background, var(--ion-background-color, transparent ));
   }
}
ion-item::part(native){
  padding-inline-end: 0 ;
  --inner-padding-end: 0;
  padding-left: 0;
  --background:transparent;
  --border-radius:0;
  --border-width: 0;
  --inner-border-width: 0
}
// --------------------------------------------------------------

.service-detail-contanier,
.service-detail-inner_container{
  height:100%;
   @media screen and (max-width: 992px) {
    height:auto;
  } 
}
.service-detail_title{
  @media screen and (min-width: 992px) {
    display:none;
  }
}
.service-detail_slider {
  background-color:$white;
  @media screen and  (max-width: 992px) {
    background-color: transparent;
  }
  .service-states-container{
    text-align: center;
    max-width: 450px;
    margin: auto;
    @media screen and (max-width: 281px) {
      text-align: left
    }
    ion-list{
      padding-top: 0;
      padding-bottom: 0;
      ion-item{
        margin-right:.8rem ;
        margin-bottom: .8rem;
        margin-left: .8rem;
        --min-height: auto; 
        display: inline-block;
        @media screen and (max-width: 767px) {
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    .service-state {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 75px;
      text-align: center;
      ion-label{
        color:$primary-color;
        span{
          margin-top: .4rem;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    } 
    .state {
      border-radius: 0.6rem;
       display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: .1rem;
      width: 46px;
      height: 46px;
      text-align: center;
      margin: 1rem 1rem .5rem;
      @media screen and (max-width: 281px) {
        width: 42px;
        height: 42px;
      }
      img{
        width: 2rem;
        height: 2rem;
        @media screen and (max-width: 281px) {
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .default-state{
        background-color:#f7f8f4;
        border: 2px solid #f7f8f4;
        box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
    }
    .okay-state{
      border: 2px solid $etisalat-color;
      background-color: $white;
      position: relative;
      box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
      &:after{
        content: '';
        width: 1rem;
        height: 1rem;
        background: url('/assets/images/network-map-icons/all-okay-state.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        display: inline-block;
        position:absolute; 
        right: -6px;
        bottom: -6px; 
      }
    }
    .error-state{
      border: 2px solid #be1218;
      background-color:#F9E0DF;
      position: relative;
      box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
      &:after{
        content: '';
        width: 1rem;
        height: 1rem;
        background: url('/assets/images/network-map-icons/issue-error-state.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        display: inline-block;
        position:absolute; 
        right: -6px;
        bottom: -6px;
      }
    }
    .pending-state{
      border: 2px solid #ff6631;
      background-color:#FFE0D6;
      position: relative;
      box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
      &:after{
        content: '';
        width: 1rem;
        height: 1rem;
        background: url('/assets/images/network-map-icons/action-pending-state.svg');
        background-repeat: no-repeat;
        background-size: 1rem;
        display: inline-block;
        position:absolute; 
        right: -6px;
        bottom: -6px;
      }
    }
  }
}
.service-detail_content{
  @media screen and (max-width: 992px) {
    border-top: 1px solid #ededed;
    padding-top: 0;
  }
  .content {
    width: 450px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
     /*  border-top: 1px solid #f1f1eb;
    -webkit-box-shadow: 0 -1px 0 #f1f1eb;
    box-shadow: 0 -1px 0 #f1f1eb; */
    .sub-title{
      @media screen and (max-width: 992px) {
        display: block;
      }
    }
    app-page-top{
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    
    .shadow-box{
      border-radius: 0.5rem;
      background-color: #ffffff;
      box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
      @media screen and (max-width: 992px) {
        box-shadow: none;
        border-radius: 0;
        background-color: transparent;
      }
    }
    ion-col{
      .data-traffic,
      .parental-control{
        padding: 1rem;
        @media screen and (max-width: 992px) {
          padding-right: 0;
          padding-left: 0;
        }
        .sub-title{
          letter-spacing:0;
        }
      }
      margin-bottom: 1rem;
      @media screen and (max-width: 992px) {
        margin-bottom: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
    .sub-title{
      margin-bottom: 1rem;
      text-transform:capitalize;
    }
    .data-traffic{
      @media screen and (max-width: 992px) {
        border-bottom: 1px solid #e9e9e9;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
      }
      .data_upload_download{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        .data-icon{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          margin-right: 1rem;
          &:last-child{
            margin-right: 0;
          }
          img,
          span{
            display: inline-block;
          }
          span{
            margin-left: .5rem;
            color: $secondary-color;
          }
        }
      }
    }
    .parental-control{
      @media screen and (max-width: 992px) {
        border-bottom: 1px solid #e9e9e9;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
      }
      p{
        color: $secondary-color;
        margin-top: 0;
        margin-bottom: .5rem;
        &:last-child{
          margin-bottom: 0;
        }
      } 
    }
    .devices-network{
      margin-top: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @media screen and (max-width: 992px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
      p{
        margin-top: 0;
        margin-bottom: 0;
        color: $secondary-color;
      }
      span{
        display: block;
        color: $primary-color;
        font-weight: 700;
      }
    }
    .devices-list-container{
      ion-card{
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
        min-height: 140px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        ion-card-title{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          @media screen and (max-width: 361px) {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          }
          img{
            display: inline-block;
          }
          .sub-title{
            margin-bottom: 0;
            margin-left: 1rem;
            @media screen and (max-width: 361px) {
              margin-top: 1rem;
              margin-left: 0rem;
            
            }
          }
        }
        ion-card-content{
          p{
            margin-bottom: .5rem;
          }
        }
      }
    }
  }
}
/* app-service-detail{
  app-buttons {
    background: red;
    display: flex;
    flex-direction: row;
  }
}  */
.footer{
  background-color: $white;
  -webkit-box-shadow: 0px 0px 11px -2px rgb(0 0 0 / 8%);
  box-shadow: 0px 0px 11px -2px rgb(0 0 0 / 8%);
  position: $relative;
  @media screen and (max-width: 992px) {
    background-color: transparent;
    box-shadow: none;
  }
  ion-col{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    @media screen and (max-width: 992px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
  a{
    margin-left: .5rem;
  }
  .btn{
    margin-right: 1rem;
    min-width: 250px;
    &:last-child{
      margin-right: 0;
    }
  }
  
}
