<ion-content>
  <ion-grid class="info-container success-container">
    <!-- Action Icon Start -->
    <ion-row class="info-container_icon">
      <ion-col size="12">
        <img src="assets/images/super-icons/icon_supericon_consumer_success_success_consumer_regular.svg" width="120px" height="120px" alt="Success" />
      </ion-col>
    </ion-row>
    <!-- Action Icon End -->
    <!-- Action Title Content Start -->
    <ion-row class="info-container_title_content">
      <ion-col size="12">
        <div class="content">
          <h4>{{ 'MESSAGES.THANKYOU' | translate }}</h4>
          <p>{{ 'MESSAGES.THANKYOU_BODY' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Action Title Content End -->
  </ion-grid>
</ion-content>
<!-- Thanks Button -->
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [type]="'secondary'" [title]="'BUTTONS.CLOSE'" (click)="goToLandingScreen()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
