@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';

:host {
  --ion-font-family: Lato, Roboto, Arial, sans-serif;
}
ion-item::part(native) {
  --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  padding-inline-start: 0;
  --inner-padding-end: 0;
}
.form-main-container {
  font-family: Lato, Roboto, Arial, sans-serif;
  .form-inner_container {
    ion-item {
      margin-bottom: 1rem;
    }
    /*  @media screen and (max-width: 992px)  {
      ion-item{
        margin-bottom: 1rem;
      }
    } */
  }
  form {
    ion-item {
      ion-label {
        color: $secondary-color;
        font-size: 1rem;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        @media screen and (max-width: 992px) {
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }
}
.text-error {
  padding-top: 0.2rem;
  position: absolute;
  @media screen and (min-width: 767px) {
    right: 0;
    font-size: 0.8rem;
  }
  @media screen and (max-width: 767px) {
    right: 0;
    top: 0.5rem;
    font-size: 0.7rem;
  }
}
