<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row>
      <ion-col size="12" class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
        <p class="tag-title">{{ 'MESSAGES.PLEASE_FILL_THE_BELOW_INFORMATION' | translate }}</p>
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-grid class="pr-0 pl-0">
            <ion-row>
              <ion-col sizeLg="6" sizeMd="6" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'MESSAGES.ACCOUNT_ID' | translate }}</ion-label>
                  <ion-input maxlength="100" type="text" formControlName="AccountID"></ion-input>
                  <!-- {{ conversionEncryptOutput }} -->
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col [sizeLg]="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button [title]="'BUTTONS.CONTINUE'" [type]="'primary'" [disable]="!formGroup.valid" (clickHandler)="SubmitForm()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
