<ion-content>
  <ion-grid class="service-detail-contanier">
    <ion-row class="service-detail_title">
      <ion-col size="12">
        <app-page-top></app-page-top>
      </ion-col>
      <p>{{ PageContent | translate }}</p>
    </ion-row>
    <ion-row>
      <!-- Package list Start -->
      <ion-col size="12">
        <form>
          <ion-card *ngFor="let d of cardList">
            <ion-card-header>
              <ion-card-title>
                <ion-label class="sub-title">{{ d.title }}</ion-label> &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="radiobtn" />
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ d.description }}</p>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-col>
      <!-- Package Card list End -->
    </ion-row>
  </ion-grid>
</ion-content>
