@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

/*-------------------------------------------------*/
/* :host {} */

/*-------------------------------------------------*/
ion-grid {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer{
    .footer-btns-container{
      ion-row{
        width:100%;
      }
      ion-col{
        &:first-child{
          ion-col{
            /* -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 100% !important; */
          }
        } 
        motive-button{
          min-width: 240px;
          width: auto;
        }
      }
      > ion-col{
        &:last-child {
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    } 
  } 
}
.footer{
  .footer-btns-container{
    ion-col{
      motive-button{
        @media screen and (max-width: 992px) {
          min-width: 100%;
          width: auto;
        }
      }
    }
  } 
} 