@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

/*-------------------------------------------------*/
/* :host {} */

/*-------------------------------------------------*/
ion-grid {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
.footer-btns-container{
  ion-col{
    &:first-child {
      display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }
  }
} 
