@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

/*-------------------------------------------------*/
/* :host {} */

/*-------------------------------------------------*/
ion-grid {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
/* .footer-btns-container{
  ion-col{
    &:first-child {
      display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }
  }
}  */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer{
    .footer-btns-container{
      ion-row{
        width:100%;
      }
      ion-col{
        &:first-child{
          ion-col{
            -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 100% !important;
          }
        } 
        motive-button{
          min-width: 100%;
          width: 100%;
        }
      }
      > ion-col{
        &:last-child {
          display:flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    } 
  } 
}