<ion-content>
  <ion-grid class="device-care-container">
    <!-- Page Title Start -->
    <ion-row class="device-care_title">
      <ion-col size="12">
        <!-- <app-page-top></app-page-top> -->
        <div [ngClass]="selectedLang === 'en' ? 'page-top_title' : ''">
          <h2>{{ pageHeading | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Page Title End  -->

    <!-- Page Content Start  -->
    <ion-row class="device-care_inner_container device-care-lg">
      <ion-col sizeLg="6" sizeMd="12" size="12" class="device-care_image_lg">
        <div class="image">
          <img src="https://www.etisalat.ae/en/images/414x200_tcm313-152995.jpg" alt="Picture placeholder" />
        </div>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" size="12" class="device-care_content">
        <div class="content">
          <div [ngClass]="selectedLang === 'en' ? 'page-top_title' : ''">
            <h2>{{ pageHeading | translate }}</h2>
          </div>
          <p>
            {{ PageContent | translate }}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="device-care_inner_container device-care-sm">
      <ion-col size="12">
        <div class="content">
          <p>
            {{ PageContent | translate }}
          </p>
        </div>
        <div class="image">
          <img src="https://www.etisalat.ae/en/images/414x200_tcm313-152995.jpg" alt="Picture placeholder" />
        </div>
        <p>
          {{ PageContent | translate }}
        </p>
      </ion-col>
    </ion-row> 
    <!-- Page Content End -->
  </ion-grid>
  <!-- <ion-footer>
    <app-buttons></app-buttons>
  </ion-footer> -->
</ion-content>
