<ion-content>
  <ion-grid class="device-care-container">
    <!-- Page Title Start -->
    <ion-row class="device-care_title">
      <ion-col size="12">
        <!-- <app-page-top></app-page-top> -->
        <div [ngClass]="selectedLang === 'en' ? 'page-top_title' : ''">
          <h2>{{ pageHeading | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Page Title End  -->

    <!-- Page Content Start  -->
    <ion-row class="device-care_inner_container lg-screen">
      <ion-col sizeLg="6" sizeMd="12" size="12" class="device-care_image_lg">
        <div class="image">
          <img src="https://www.etisalat.ae/en/images/414x200_tcm313-152995.jpg" alt="Picture placeholder" />
        </div>
      </ion-col>

      <ion-col sizeLg="6" sizeMd="12" size="12" class="device-care_content">
        <div class="content">
          <div [ngClass]="selectedLang === 'en' ? 'page-top_title' : ''">
            <h2>{{ 'DEVICE_CARE.PAGE_HEADING' | translate }}</h2>
          </div>
          <p>
            Travelling abroad? Take your local plan’s data and voice allowances with you to keep in touch with your family and loved ones when you subscribe to Roam like Home
            packs, starting from only AED 100. Available to all postpaid Freedom plans. Simply choose the pack that suits you best.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
