<app-header-single-line [headerConfig]="headerConfig"></app-header-single-line>
<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<ion-content>
  <ion-row class="page-title web-title">
    <ion-col class="pt-0 pb-0 main-title-container">
      <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
    </ion-col>
  </ion-row>

  <ion-grid class="form-main-container">
    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
            <ion-row>
              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'MESSAGES.ENTER_NEW_NUMBER' | translate }}</ion-label>
                  <ion-input formControlName="NewPassword" #NewPassword type="password" clearOnEdit="false" class="password-field"></ion-input>
                  <img
                    [src]="NewPassword.type === 'password' ? passwordHideIcon : passwordShowIcon"
                    (click)="hideShowPassword(NewPassword)"
                    class="show-icon"
                    alt="show password"
                  />
                  <!-- <button type="button" (click)="hideShowPassword()">Click to show</button> -->
                </ion-item>
                <div class="text-error" *ngIf="formGroup.hasError('pattern', 'NewPassword') && f.NewPassword.touched">
                  {{ error.password }}
                </div>
              </ion-col>
              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'MESSAGES.ENTER_NEW_NUMBER_AGAIN' | translate }}</ion-label>
                  <ion-input formControlName="ConfirmPassword" #ConfirmPassword type="password" clearOnEdit="false" class="password-field"></ion-input>
                  <img
                    [src]="ConfirmPassword.type === 'password' ? passwordHideIcon : passwordShowIcon"
                    (click)="hideShowPassword(ConfirmPassword)"
                    class="show-icon"
                    alt="show password"
                  />
                </ion-item>
                <div class="text-error" *ngIf="formGroup.hasError('pattern', 'ConfirmPassword') && f.ConfirmPassword.touched">
                  {{ error.password }}
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <p class="tag-title bottom-heading">{{ 'MESSAGES.ROWARDING_NUMBER_RULES' | translate }}</p>
                <div>
                  <ion-item *ngFor="let m of rules" class="checkpoints">
                    <img src="./assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <label>{{ m | translate }}</label>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="12" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [type]="'primary'" [title]="'BUTTONS.NEXT'" (click)="SubmitForm()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
