<mat-form-field class="trc-textarea" [formGroup]="group">
    <textarea
        matInput
        [formControlName]="field.name"
        [readonly]="field.readOnly || false"
        [placeholder]="field.label"
        [type]="field.inputType"
        style="height: {{ field.height }}"
    ></textarea>
    <ng-container *ngFor="let validation of field.validations" ngProjectAs="mat-error">
        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">{{ validation.message }}</mat-error>
    </ng-container>
</mat-form-field>
