<app-header-single-line [headerConfig]="headerConfig"></app-header-single-line>

<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row class="page-title mobile-web">
      <ion-col class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-grid class="pr-0 pl-0">
            <ion-row>
              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-list>
                  <ion-item>
                    <ion-label position="stacked" (click)="openInstallEtisalatRouterDialog(1)">{{ 'MESSAGES.SELECT_BRAND' | translate }}</ion-label>
                    <ion-label position="stacked">{{ valueForBrand?.text }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>

              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-list>
                  <ion-item>
                    <ion-label position="stacked" (click)="openInstallEtisalatRouterDialog(2)">{{ 'MESSAGES.SELECT_MODEL' | translate }}</ion-label>
                    <ion-label position="stacked">{{ valueForModel?.text }}</ion-label>
                    <!-- <ion-select placeholder="Select Brand" formControlName="Model">
                      <ion-select-option *ngFor="let model of modelList" [value]="model.value">{{ model.text }}</ion-select-option>
                    </ion-select> -->

                    <!-- <ion-select value="notifications" interface="action-sheet" ok-text="Okay" cancel-text="Nah">
                      <ion-select-option value="enable">Enable</ion-select-option>
                      <ion-select-option value="mute">Mute</ion-select-option>
                      <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                      <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                    </ion-select> -->

                    <!-- <ion-select interface="popover" placeholder="Select One">
                      <ion-select-option value="brown">Brown</ion-select-option>
                      <ion-select-option value="blonde">Blonde</ion-select-option>
                      <ion-select-option value="black">Black</ion-select-option>
                      <ion-select-option value="red">Red</ion-select-option>
                    </ion-select> -->

                    <!-- <ion-select interface="popover" placeholder="Select One">
                      <ion-label>ghg</ion-label>
                      <ion-radio slot="start" value="fsfef"></ion-radio>
                    </ion-select> -->
                  </ion-item>
                </ion-list>
              </ion-col>

              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'MESSAGES.ALTERNATE_CONTACT_NO' | translate }}</ion-label>
                  <ion-input
                    type="text"
                    [brmasker]="{ form: formGroup.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="MobileNo"
                    [ngClass]="{ 'is-invalid': f.MobileNo.errors && f.MobileNo.errors.pattern }"
                  ></ion-input>
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'MobileNo') && f.MobileNo.touched">
                    {{ error.phoneNumber }}
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.CONTINUE'" [disable]="!formGroup.valid" [type]="'primary'" (clickHandler)="SubmitForm()"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.CANCEL'" [type]="'link'" (clickHandler)="onBackClick()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
