<!-- Modal Header Start -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <h3 class="lg-screen-title">Internet Issues</h3>
      <h3 class="sm-screen-title">{{ 'MESSAGES.RESTART_ROUTER' | translate }}</h3>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn transparent-btn close-btn" (click)="dismiss()"> Close </ion-button>
      <img src="../../../../../assets/images/action-icons/icon_close.svg" alt="close" (click)="dismiss()" class="cross-icon" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Modal Header End -->

<ion-content malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark-3' }">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="dialog-content">
          <h4>{{ 'MESSAGES.RESTART_ROUTER' | translate }}</h4>
          <p>{{ 'MESSAGES.PLEASE_NOTE_THAT_THE_ISSUE_WONT_BE_FIXED_UNTIL_YOU_RESTART_YOUR_ROUTER' | translate }}</p>
          <p>{{ 'MESSAGES.YOU_CAN_ALSO_RESTART_YOUR_ROUTER_MANUALLY' | translate }}</p>
          <p>{{ 'MESSAGES.ONCE_YOU_RESTART_YOUR_ROUTER_WAIT_FOR_5_MINUTES_AND_THEN_TRY_USING_THE_INTERNET_AGAIN' | translate }}</p>
          <p *ngIf="isManualOpt" innerHTML="{{ 'MESSAGES.TO_SEE_HOW_TO_RESET_THE_ROUTER_MANUALLY' | translate }}"></p>
        </div>
      </ion-col>
    </ion-row>
    <!--Large Screen Button Start -->
    <ion-row class="popup-btn-lg">
      <ion-col size="12" class="ion-no-padding">
        <div class="footer">
          <ion-row class="footer-btns-container">
            <ion-col size="12" class="ion-no-padding ion-text-center">
              <motive-button [title]="'BUTTONS.EXIT_TROUBLESHOOTING'" [type]="'primary'" (clickHandler)="exitTroubleshoot()"></motive-button>
            </ion-col>
            <ion-col size="12" class="ion-no-padding ion-text-center">
              <motive-button [title]="'BUTTONS.TRY_AGAIN'" [type]="'link'" (clickHandler)="dismiss()"></motive-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
    <!--Large Screen Button End -->
  </ion-grid>
</ion-content>

<!-- Small Screen Button Start -->
<div class="footer popup-btn-sm">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button [title]="'BUTTONS.EXIT_TROUBLESHOOTING'" [type]="'primary'" (clickHandler)="exitTroubleshoot()"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button [title]="'BUTTONS.BACK'" [type]="'link'" (clickHandler)="dismiss()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
<!-- Small Screen Button End -->
