@import '/src/assets/scss/base/variables';
@import '/src/assets/scss/base/mixins';

/*-------------------------------------------------*/
:host {
  --ion-font-family: #{$font-family-SuisseInt}
  ion-buttons{
    --min-height:auto;
  }
  ion-header{
    ion-toolbar{
      border-bottom: 2px solid #e2e1da;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @media screen and (max-width:992px) {
        border-bottom-color: #f1f1eb;
        padding-top: 0;
        padding-bottom:0;
        border-bottom: 0;      
      }
      ion-title{
        padding-right:0;
        padding-left: 0;
        h5{
          font-family: $font-family-SuisseInt;
          color:$primary-color;
          @media screen and (max-width: 281px) {
            font-size: 1rem;
          }
        }
      }
    ion-buttons{
      margin-inline-end:0;
      margin-right:0;
      --padding-end: 0;
      padding-right: 0;
      padding-right: 0;
      ion-button{
        margin-inline-start:0;
        margin-inline-end:0;
        height: auto;
        @media screen and (max-width: 281px) {
          font-size: .8rem;
        }
       }
     }
    }
  }
}
ion-item::part(native){
  /* padding-inline-end: .8rem;  */
  --inner-padding-end: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  --padding-start:1rem;
  --border-color:#ededed;
}
.header-ios {
	ion-toolbar {
    ion-title{
      h3{
        @media screen and (max-width:992px) {
          text-align: left;
        }
      }
    }
	}
}
/*-------------------------------------------------*/
ion-header{
  --ion-background-color:  transparent;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  &:after{
    background-image: none;
  }
  ion-toolbar{
    ion-title{
      padding-right:0;
      padding-left: 0;
      text-align: left;
      @media screen and (min-width:992px) {
        text-align: center;
      }
      .lg-screen-title{
        display: none;
        @media screen and (min-width:992px) {
          display: block;
        }
      }
      .sm-screen-title{
        display: block;
        @media screen and (min-width:992px) {
          display:none;
        }
      }
      h3{
<<<<<<< HEAD
        font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
        color:$etisalat-gray-color;
        font-weight: 600;
=======
        font-family: $font-family-SuisseInt;
        color:$primary-color;
        font-weight: normal;
>>>>>>> 0edec22ea2190e3dc4694f0bbf5997ad0aecfdd3
        margin-left: 2rem;
        @media screen and (max-width:992px) {
          margin-left: 0;
          margin-bottom: 0;
          font-size: 18px;
        }
      }
      
    }
  }
 ion-buttons{
    padding-right: 0;
    cursor: pointer;
    @media screen and (max-width:992px) {
      margin-top: 0.5rem;
      margin-right: 0;
      display: none;
    }
    .close-btn{
      display: none;
      @media  screen and (max-width:992px) {
        display: block;
      }
    }
    .cross-icon{
      display: block;
      width: 2rem;
      height: 2rem;
      @include transition(all 0.3s ease-in-out);
      @media  screen and (max-width:992px) {
        display: none;
      }
      &:hover{
        opacity: 0.5;
      }
    }
  }
  
}
ion-list{
  padding-top: 0;
  padding-bottom: 0;
  ion-label{
    color:$primary-color;
    font-weight: 600;
  }
}
.dialog-content {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  @media  screen and (max-width:992px) {
    margin: 0;
    padding-right: .6rem;
    padding-left: .6rem;
    text-align: left;
    max-width: none;
  }
  h4{
    color:$etisalat-gray-color;
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;
    font-family: $font-family-SuisseInt;
    font-weight: 700;
    @media  screen and (max-width:992px) {
      margin-top:0;
      margin-bottom:0;
      display: none;
    }
  }
  p{
    margin-top: 0;
    @media  screen and (max-width:992px) {
      font-size: 14px;
    }
  }
}
    
.check-guidlines-container {
  background-color: #f7f8f4;
  padding-bottom: 1rem;
  .check-guidlines{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: .9rem;
    @media screen and (max-width: 281px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .check-guidlines_icon{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
      flex: 0 0 55px;
      max-width: 55px;
      img{
        display: block;
      }
    }
    .check-guidlines_content{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
      p{
        margin-top: 0;
        margin-bottom: 1.5rem;
        color:$secondary-color;
      }
    }
  }
}

.popup-btn-lg{
  text-align: center;
  max-width: 450px;
  margin: 0 auto;
  display: none;
  @media screen and (min-width:992px) {
    display: block;
   }
  .footer{
    margin-top: 2rem;
    padding-right: 0;
    padding-left: 0;
    .footer-btns-container{
      ion-col{
        motive-button{
          @media screen and (min-width: 769px) and (max-width: 1024px){
            min-width: 250px;
            width: auto;
          }
        }
      }
    }
  }
}
.popup-btn-sm{
  display: block;
  @media screen and (min-width:992px) {
    display: none;
  }
}
.footer{
  box-shadow: none;
  background-color: transparent;
  @media screen and (min-width:992px) {
      text-align: center;
  }
  .footer-btns-container{
    ion-row{
      @media screen and (min-width:992px) {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      motive-button{
        @media screen and (min-width: 992px) and (max-width: 1024px){
          min-width: 250px;
          width: auto;
        }
      } 
    }
  }
}


