<ion-grid class="form-main-container">
  <!-- Dialog Heading -->
  <ion-row>
    <ion-col size="12">
      <div>
        <h2>{{ 'MESSAGES.RESTART_ROUTER' | translate }}</h2>
      </div>
      <div>
        <p>{{ 'MESSAGES.PLEASE_NOTE_THAT_THE_ISSUE_WONT_BE_FIXED_UNTIL_YOU_RESTART_YOUR_ROUTER' | translate }}</p>
        <p>{{ 'MESSAGES.YOU_CAN_ALSO_RESTART_YOUR_ROUTER_MANUALLY' | translate }}</p>
        <p>{{ 'MESSAGES.ONCE_YOU_RESTART_YOUR_ROUTER_WAIT_FOR_5_MINUTES_AND_THEN_TRY_USING_THE_INTERNET_AGAIN' | translate }}</p>
      </div>
    </ion-col>
  </ion-row>
  <motive-button></motive-button>
</ion-grid>
