@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';

// ------------Removed Ionic ion-item Styling start-------------------
:host {
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
  ion-list {
    --ion-background-color: transparent;
  }
  ion-item {
    --min-height: 30px;
    @media screen and (max-width: 768px){
      border-radius:0.25rem;
    }
    @media screen and (max-width: 321px) {
      padding-top:.5rem;
      padding-bottom: .5rem;
    }
  }
  ion-textarea {
    margin: 0 auto;
    width: 384px;
    height: 180px;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .2rem;
    border:1px solid $secondary-color;
    margin-top: 0 !important;
    color:$secondary-color;
    --placeholder-color:#848789;
    --placeholder-opacity:1;
    @media screen and (max-width: 768px){
      width: 318px;
      font-size: 0.875rem;
      height: 120px;
      border-radius:0.25rem;
    }
    /* @media screen and (max-width: 768px){
      width: 325px;
    } */
  }
   
}
  
ion-item::part(native){
  padding-inline-end: 0;
  --inner-padding-end: 0;
  --padding-start:0;
  @media screen and (max-width: 321px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
// ------------Removed Ionic ion-item Styling End-------------------

.info-container {
  font-family: Lato, Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5rem;
  max-width: 450px;
  @media screen and (max-width: 1024px){
    margin-top: 8rem;
  }
  .info-container_icon{
    img{
        width: 110px;
    }
  }
  h4 {
    font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    @media screen and (max-width: 768px){
      font-size: 1rem;
    }
  }
  .content {
    max-width: 300px;
    text-align: center;
    p {
      line-height: 1.5;
      margin-bottom: 0;
      color:$etisalat-gray-color;
      text-align: center;
      word-break: break-word;
      @media screen and (max-width: 768px){
        font-size: 0.875rem;
      }
    }
  }
  .info-container_detail_followup {
    font-family: Lato, Roboto, Arial, sans-serif;
    /* width: 350px;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    } */
    .info-container_detail_list {
      margin-top: 1.5rem;
      margin-bottom: 2rem;
      width: 100%;
      @media screen and (max-width:  768px) {
        margin-top: 0.8rem;
      }
      ion-label{
        @media screen and (max-width: 768px){
          font-size: 0.875rem;
        }
      }
    }
  }
  .info-container_follow {
    margin-top: 4rem;
    @media screen and (max-width: 376px) {
      margin-top: 2rem;
    }
    ion-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      p {
        color: $primary-color;
        font-weight: 600;
      }
      .follow-up {
        margin-bottom: 1rem;
      }
    }
  }
}
.info-content{
  @media screen and (min-width: 992px) {
    margin-bottom: 2rem;
  }
}
.info-container_content{
  text-align: center;
  p{
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
  span{
    display: block;
    font-weight: 800;
    color: $etisalat-gray-color;
    @media screen and (max-width: 768px) {
      font-size: 0.9375rem;
    }
  }
}
.ion-list-capital{
  ion-item{
    ion-label{
      color: $primary-color;
      font-size: 1.1rem;
      @media screen and (max-width: 768px){
        font-size: 0.875rem;
      }
      @media screen and (max-width: 321px) {
        margin-bottom: 1rem;
      }
    }
  }
}

.lg-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.sm-screen {
  display: none;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .footer {
    .footer-btns-container {
      ion-row {
        width: 100%;
      }
      ion-col {
        &:first-child {
          ion-col {
            /* -webkit-box-flex: 0 !important;
            -ms-flex: 0 0 100% !important;
            flex: 0 0 100% !important;
            max-width: 100% !important;
            width: 100% !important; */
          }
        }
        motive-button {
          min-width: 100%;
          width: 100%;
        }
      }
      > ion-col {
        &:last-child {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
