<ion-content>
  <ion-grid class="info-container">
    <!-- Action Icon Start -->
    <ion-row class="info-container_icon">
      <ion-col size="12">
        <img [src]="imgSrc" alt="warning" />
      </ion-col>
    </ion-row>
    <!-- Action Icon End -->

    <!-- Action Title Content Start -->
    <ion-row class="info-container_title_content">
      <!-- <ion-col sizeLg="8" sizeMd="8" offset-lg="2" offset-md="2" size="12"></ion-col> -->
      <ion-col size="12">
        <h4 *ngIf="Section1Data?.header">
          {{ Section1Data.header | translate }}
        </h4>

        <div class="content" *ngIf="Section1Data?.paragraphs">
          <p *ngFor="let txt of Section1Data?.paragraphs">
            <!-- for CLICK HERE see screen 1.17.2 -->
            <a *ngIf="Section1Data?.span" (click)="Section1Data.spanListener()" class="__clickhere">{{ Section1Data.span | translate }}</a>
            {{ txt | translate }}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Action Title Content End -->

    <div class="info-container_detail_followup">
      <!-- Detail List and Follow up Start -->
      <ion-row class="info-container_detail">
        <ion-col size="12" class="pt-0 pb-0">
          <div class="info-container_detail_list">
            <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
              <ion-grid class="pr-0 pl-0">
                <ion-row>
                  <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                    <ion-item>
                      <ion-textarea formControlName="Feedback" placeholder="your Feedback"></ion-textarea>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <!-- <motive-button [title]="'BUTTONS.CONTINUE'" [type]="'primary'" (clickHandler)="SubmitForm()"></motive-button>
            <motive-button [title]="'BUTTONS.BACK'" [type]="'link'" (clickHandler)="onBackClick()"></motive-button> -->
              </ion-grid>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
<div class="footer sm-screen">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (clickHandler)="button1Listener()"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (clickHandler)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeLg="6" sizeMd="12" size="12" class="pt-0 pb-0" *ngIf="button3">
      <motive-button
        *ngIf="button3"
        [type]="button3.type"
        [title]="button3.title"
        [explanatoryNote]="button3.explanatoryNote"
        [SM]="button3.SM"
        [MD]="button3.MD"
        [LG]="button3.LG"
        (clickHandler)="button3Listener()"
      ></motive-button>
    </ion-col>
  </ion-row>
</div>
