@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';
//----------------------------------------------------
:host {
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
}
ion-item::part(native){
  @media screen and (max-width: 992px)  {
    padding-left: 2px;
  }
}
ion-checkbox {
  width: 22px;
  height: 22px;
  @media screen and (max-width: 992px)  {
    width: 26px;
    height: 26px;
    /* margin-top: 0;
    margin-bottom: 0; */
  }
  
}
/* .checkbox-icon path::part(mark){

  width: 11px;
  height: 11px;
} */
ion-radio.radio-checked::part(mark) {
  width: 11px;
  height: 11px;
}
//-----------------------------------------------------

ion-button,
.btn {
  width: 100%;
  @media screen and (max-width: 992px) {
    font-size:13px;
    font-weight: 500;
  }
} 
.transparent-btn{
  margin-top: 0;
  margin-bottom: 0;

  move-elife-connection-message & {
    a {
      color: $etisalat-color;
    }
  }
}
.agree-terms-container{
  @media screen and (min-width: 992px) and (max-width:1025px)  {
    height: 100%;
  }
  .agree-terms{
    @media screen and (min-width: 992px) and (max-width:1025px)  {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
    }
    @media screen and (max-width: 992px)  {
      margin-bottom: 0.8rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    ion-item{
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      --min-height: auto;
      margin-bottom: 0;
      --border-style:none;
      --background: transparent;
      --color: $secondary-color;
      ion-label{
        transform:none;
        margin-top: 0;
        margin-right: 0;
        margin-left: 0.8rem;
        margin-bottom: 0;
        color: $secondary-color;
        @media screen and (max-width: 992px)  {
          font-size:0.875rem;
        }      
        a{
          color: $etisalat-color;
          display: inline-block;
          @include transition(all 0.3s ease-in-out);
          &:hover{
            color: $primary-color;
            text-decoration: none;
          }
        }
      }
    }
  }
}