<!-- Button with Green background -->
<div *ngIf="type === 'primary'">
  <p *ngIf="explanatoryNote">{{ explanatoryNote | translate }}</p>
  <ion-button class="btn primary-btn follow-up green-box-shadow" [disabled]="disable" (click)="handleClick()">{{ title | translate }}</ion-button>
  <!-- TODO: need to be moved to the parent component -->
  <!--  <ion-row>
    <ion-col [sizeLg]="LG" [sizeMd]="MD" [size]="SM" class="pt-0 pb-0 ion-text-center">


    </ion-col>
  </ion-row> -->
</div>

<!-- Button with White background -->
<div *ngIf="type === 'secondary'">
  <ion-button class="btn secondary-btn close" [disabled]="disable" (click)="handleClick()">{{ title | translate }}</ion-button>
</div>

<!-- Link -->
<div *ngIf="type === 'link'">
  <div class="transparent-btn" (click)="handleClick()">
    <a> {{ title | translate }}</a>
  </div>
</div>

<!-- Terms and Condition -->
<div *ngIf="type === 'terms'">
  <div class="agree-terms">
    <ion-item>
      <ion-checkbox name="terms" color="primary" [(ngModel)]="terms" slot="start" (ionChange)="termsChange()"></ion-checkbox>
      <ion-label>
        {{ 'TEXT.I_AGREE_TO' | translate }}
        <a href="javascript:void(0)" class="back-to-page" (click)="PopupTermsConditions()">
          <span>{{ 'TEXT.TERMS_AND_CONDITIONS' | translate }}​</span>
        </a>
      </ion-label>
    </ion-item>
  </div>
</div>
