<app-header-single-line [headerConfig]="headerConfig"></app-header-single-line>
<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<ion-content>
  <ion-grid class="form-main-container">
    <ion-row class="page-title web-title">
      <ion-col class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
        <p class="sub-title-content">
          {{ 'MESSAGES.PLEASE_ENTER_BELOW_DETAILS_TO_RESET_YOUR' | translate }} <br />
          {{ 'MESSAGES.WIFI_PASSWORD' | translate }}
        </p>
      </ion-col>
    </ion-row>

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col sizeLg="4" sizeMd="6" size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.MOBILE_NUMBER' | translate }}</ion-label>
                <!-- [brmasker]="{ form: formGroup.get('mask'), mask: '+000000000000', type: 'num', len: 14 }" -->
                <ion-input
                  type="text"
                  maxlength="12"
                  appNumberOnly
                  placeholder="xxxxxxxxxxxx"
                  formControlName="MobileNo"
                  [ngClass]="{ 'is-invalid': f.MobileNo.errors && f.MobileNo.errors.pattern }"
                ></ion-input>
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'MobileNo') && f.MobileNo.touched">
                {{ error.phoneNumber }}
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.NEW_PASSWORD' | translate }}</ion-label>
                <ion-input formControlName="NewPassword" #NewPassword type="password" clearOnEdit="false" class="password-field"></ion-input>

                <img [src]="NewPassword.type === 'password' ? passwordHideIcon : passwordShowIcon" (click)="hideShowPassword(NewPassword)" class="show-icon" alt="show password" />
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'NewPassword') && f.NewPassword.touched">
                {{ error.password }}
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.CONFIRM_PASSWORD' | translate }}</ion-label>
                <ion-input formControlName="ConfirmPassword" #ConfirmPassword type="password" clearOnEdit="false" class="password-field"></ion-input>
                <img
                  [src]="ConfirmPassword.type === 'password' ? passwordHideIcon : passwordShowIcon"
                  (click)="hideShowPassword(ConfirmPassword)"
                  class="show-icon"
                  alt="show password"
                />
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'ConfirmPassword') && f.ConfirmPassword.touched">
                {{ error.password }}
              </div>
              <div class="text-error" *ngIf="f.ConfirmPassword.touched && (f.ConfirmPassword.errors?.confirmedValidator || f.ConfirmPassword.errors?.mustMatch)">
                {{ error.passwordandConfirm }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="check-list-container">
            <ion-col size="12">
              <p class="tag-title">{{ 'MESSAGES.PASSWORD_STRENGTH' | translate }}</p>

              <ion-list class="check-list">
                <ion-item>
                  <img src="../../../../../assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                  <ion-label>{{ 'MESSAGES.MINIMUM_8_CHARACTERS' | translate }}</ion-label>
                </ion-item>
                <ion-item>
                  <img src="../../../../../assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                  <ion-label>{{ 'MESSAGES.CONTAIN_AT_LEAST_1_NUMERIC_CHARCTER' | translate }} </ion-label>
                </ion-item>
                <ion-item>
                  <img src="../../../../../assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                  <ion-label>{{ 'MESSAGES.CONTAIN_AT_LEAST_1_SPECIAL_CHARCTER' | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [type]="'terms'"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.CONTINUE'" [disable]="!formGroup.valid" [type]="'secondary'" (clickHandler)="SubmitForm()"></motive-button>
        </ion-col>
        <!-- <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.BACK'" [type]="'link'" (clickHandler)="onBackClick()"></motive-button>
        </ion-col> -->
      </ion-row>
    </ion-col>
  </ion-row>
</div>
