<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Content  -->
    <ion-row>
      <ion-col size="12">
        <div class="content-img">
          <img alt="Content"/>
        </div>
        <div class="content">
          <div *ngFor="let ins of instructionList; let i = index">
            <p>{{ i + 1 }}. {{ ins }}</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.ISSUE_FIXED'" [type]="'primary'" (clickHandler)="onIssueFixed()"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button [title]="'BUTTONS.BOOK_A_COMPLAINT'" [type]="'link'" (clickHandler)="onBookAComplaint()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
