<div class="open-modal-header">
  <div class="p-2 open-modal">
    <h2 mat-dialog-title>
      Open
      <button class="close-btn-icon" [mat-dialog-close]="true">
           <i class="icon-reset_toolar"></i> 
      </button>
    </h2>

    <mat-dialog-content class="open-modal-content">
      <mat-tab-group [(selectedIndex)]="currentTab">
        <mat-tab class="open-dialog-label" label="Accounting">
          <div class="open-popup-tabs">
            Accounting
          </div>
        </mat-tab>
        <mat-tab class="open-dialog-label" label="Cash">
          <div class="open-popup-tabs">
            Cash contect
          </div>
        </mat-tab>
        <mat-tab class="open-dialog-label" label="Claims">
          <div class="open-popup-tabs">
            Content 3
          </div>
        </mat-tab>
        <mat-tab class="open-dialog-label" label="Submission">
          <div class="open-popup-tabs">
            <mat-form-field class="open-dialog-form-field">
              <mat-label>Open Submission #</mat-label>
              <input matInput [(ngModel)]="submissionNo" maxlength="255" #inpValue="ngModel" type="text" />
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab class="open-dialog-label" label="Underwriting">
          <div class="open-popup-tabs">
            Content 3
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-dialog-content>
    <div class="open-dialog-btn-wrapper">
      <mat-dialog-actions>
        <button class="mat-raised-button open-dialog-btn mat-primary" (click)="onOpenClick()">Open</button>
        <button class="mat-raised-button open-dialog-btn popup-cancel-btn" (click)="onCancelClick()">Cancel</button>
        <button class="mat-raised-button open-dialog-btn popup-cancel-btn" (click)="onSearchClick()">Search</button>
        <button class="mat-raised-button open-dialog-btn popup-cancel-btn" (click)="onNewClick()">New</button>
        <button class="mat-raised-button open-dialog-btn popup-cancel-btn"
          (click)="onClearanceClick()">Clearance</button>
      </mat-dialog-actions>
    </div>
  </div>

</div>
