<ion-content>
  <ion-grid class="terms-condition-container">
    <ion-row>
      <ion-col size="12">
        <div class="terms-condition_latest">
          <img src="../../../../assets/images/indicators-icons/icon_calendar.svg" alt="calendar">
          <ion-label>Last updated on August 08, 2021</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <div *ngFor="let term of TC">
          <h4>{{ term.head | translate }}</h4>
          <p *ngFor="let text of term.body">{{ text | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
