<mat-form-field class="example-full-width">
  <input
    [required]="isRequired"
    type="text"
    placeholder="{{ searchPlaceholder }}"
    aria-label="Number"
    matInput
    [formControl]="fileNameAutoCompleteControl"
    [matAutocomplete]="auto"
    (keyup)="onKey($event)"
    (input)="onTextChange($event)"
  />
  <button
    mat-button
    *ngIf="fileNameAutoCompleteControl.value && showCrossButton"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="resetAutoComplete($event)"
  >
    <mat-icon>close</mat-icon>
  </button>
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="searchValueSelected($event)"
  >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ getValueByKey(option) }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-error style="margin-top: -16px" *ngIf="errorCondition">{{
  errorMessage
}}</mat-error>
