<div class="query-auto-complete">
  <app-trc-auto-complete [options]="lookupData" [searchPlaceholder]="lookupPlaceHolder" [searchKey]="searchKey"
    [searchValue]="searchValue" [errorMessage]="errorMessage" [errorCondition]="errorCondition" [listLimit]="listLimit"
    [isRequired]="isRequired" [defaultText]="lookupValue" [showCrossButton]="showCrossButton"
    (valueSelected)="onValueSelected($event)" (textCleared)="onTextCleared($event)">
  </app-trc-auto-complete>
</div>
<!--

@Output() textCleared: EventEmitter<any> = new EventEmitter<any>();
  @Output() valueSelected: EventEmitter<any> = new EventEmitter<any>();
  @Output() keyPressed: EventEmitter<any> = new EventEmitter<any>();
  @Output() textChanged: EventEmitter<any> = new EventEmitter<any>(); -->
