@import '/src/assets/scss/base/variables';
@import '/src/assets/scss/base/mixins';

/*-------------------------------------------------*/
:host {
  --ion-font-family: #{$font-family-SuisseInt};
  ion-buttons{
    --min-height:auto;
  }
  ion-header{
    ion-toolbar{
      /* border-bottom: 2px solid #e2e1da; */
      padding-top: 1rem;
      padding-bottom: 1rem;
      @media screen and (max-width: 992px) {
        border-bottom: 2px dashed #d0d6da;
        padding-top: .2rem;
        padding-bottom: .8rem;
      }
      ion-title{
        padding-right:0;
        padding-left: 0;
        text-align: center;
        @media screen and (max-width:992px) {
          text-align: left;
        }
        h3{
          font-family: $font-family-SuisseInt;
          color:$primary-color;
          font-weight:600;
          margin-left: 2rem;
          @media screen and (max-width:992px) {
            margin-left: 0;
            margin-bottom: 0;
            font-size: 18px;
          }
        }
      }
    ion-buttons{
      margin-inline-end:0;
      margin-right:0;
      --padding-end: 0;
      padding-right: 0;
      padding-right: 0;
      ion-button{
        margin-inline-start:0;
        margin-inline-end:0;
        height: auto;
        @media screen and (max-width: 281px) {
          font-size: .8rem;
        }
       }
     }
    }
  }
}
ion-item::part(native){
  /* padding-inline-end: .8rem;  */
  --inner-padding-end: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  --padding-start:1rem;
  --border-color:#ededed;
}
.header-ios {
	ion-toolbar {
    ion-title{
      h3{
        @media screen and (max-width:992px) {
          text-align: left;
        }
      }
    }
	}
}
/*-------------------------------------------------*/
ion-header{
  --ion-background-color:  transparent;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  &:after{
    background-image: none;
  }
}
ion-list{
  padding-top: 0;
  padding-bottom: 0;
  ion-label{
    color:$etisalat-gray-color;
    font-weight: 600;

    > p {
      color: $etisalat-gray-color;
    }
    @media screen and (max-width:992px) {
      font-size:0.875rem; //14px
    }
  }
}
ion-buttons{
  padding-right: 0;
  cursor: pointer;
  @media screen and (max-width:992px) {
    margin-top: 0.7rem;
    margin-right: 0;
  }
  .close-btn{
    display:none;
    @media  screen and (max-width:992px) {
      display: block;
    }
  }
  .cross-icon{
    display: block;
    width: 2rem;
    height: 2rem;
    @include transition(all 0.3s ease-in-out);
    @media  screen and (max-width:992px) {
      display: none;
    }
    &:hover{
      opacity: 0.5;
    }
  }
}
.check-guidlines-container {
  background-color: #f7f8f4;
  padding-bottom: 1rem;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  .check-guidlines{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: .9rem;
    @media screen and (max-width: 281px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .check-guidlines_icon{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
      flex: 0 0 55px;
      max-width: 55px;
      img{
        display: block;
      }
    }
    .check-guidlines_content{
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      max-width: 100%;
      @media screen and (min-width: 992px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      p{
        margin-top: 0;
        margin-bottom: 1rem;
        color:$secondary-color;
        @media screen and (min-width: 992px) {
          margin-top: inherit;
          margin-bottom: 0;
          
        }
      }
    }
  }
}
.pop-content{
  @media screen and (min-width: 992px) {
    margin-bottom: 5.5rem;
  }
}
.cards-container {
  margin-top: 1rem;
  padding-right: .2rem;
  padding-left: .2rem;
  @media screen and (max-width: 992px) {
    display: none;
  }
  ion-col{
    ion-card {
      box-shadow: none;
      cursor: pointer;
      margin-right: 0;
      margin-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      min-height: 60px;
      margin-right: 0.8rem;
      margin-left: 0.8rem;
      @include transition(all 0.3s ease-in-out);
      &:hover {
        background-color: #f9f8f8;
        @include transform(translateY(-1px));
        -webkit-box-shadow: rgb(2 8 20 / 10%) 0px 0.35em 1.175em;
        box-shadow: rgb(2 8 20 / 10%) 0px 0.35em 1.175em;
      }
      ion-card-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        p{
          color: $etisalat-gray-color;
          font-size: 1rem;
          font-weight: 600;
          font-family: $font-family-SuisseInt;
        }
        img{
          width: 14px;
          opacity: .7;
        }
      }
    }
  }
}
.list-container{
  @media screen and (min-width: 992px) {
   display: none;
  }
}