@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';

/* --------------------------------------------------------------*/
:host {
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
  ion-list{
    --ion-background-color:transparent;
    padding-bottom: 0;
  }
  ion-checkbox{
    margin-right: 0;
    margin-left: 0;
    @media screen and (max-width: 992px) {
      width: 1.1rem;
      height: 1.1rem;
    }
    --background:$white;
    --border-radius:50%;
    --border-color:#719E19;
    --border-style:solid;
    --checkmark-color:#ffffff;
    --background-checked:#719E19;
    --border-color-checked:#719E19;
  }
  ion-icon{
    color: $primary-color;
  }
}
ion-item::part(native){
  --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-inline-start: 0;
}
/*------------------------------------------------------------------*/ 

.tv-detail-container{
  .my-subscriptions{
      .content-sub_title{
           
      }
      .subscriptions-box{
          .sub-title{
              color: $secondary-color;
          } 
      }
  }
}