<ion-col size="12" class="states-main-container">
  <div class="wizard-main-container">
    <div class="wizard-inner_container">
      <!-- <div class="states">
        <div class="default-state state">
          <img src="/assets/images/network-map-icons/icon_smartphone_default.svg" alt="Smart Phone Default State" />
        </div>
        <ion-label> abc </ion-label>
      </div> -->
      <app-tab-tile></app-tab-tile>

      <div class="wizard-line okay-line"></div>
      <!-- <div class="states">
        <div class="okay-state state">
          <img src="/assets/images/network-map-icons/icon_smartphone_all_okay.svg" alt="Smart Phone okay State" />
        </div>
        <ion-label> abc </ion-label>
      </div> -->
      <app-tab-tile></app-tab-tile>
    </div>
  </div>
</ion-col>
