<div>
    <mat-form-field>
        <mat-label>{{ searchLabel }}</mat-label>
        <input matInput class="longText" [(ngModel)]="searchText" maxlength="255" #inpValue="ngModel" type="text"
         (ngModelChange)="searchText = $event.toUpperCase()"  (keydown.enter)="onSearchTextChange()"/>
        <button mat-button matSuffix mat-icon-button (click)="onSearchTextChange()">

            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</div>
<div style="height: calc(100vh - 350px)">
    <trc-grid
        #TRCGrid
        [rowData]="[]"
        [columnDefs]="colDef"
        [editable]="true"
        [pagination]="false"
        [scrollBarDataSource]="scrollBarDataSource"
        [enabledInfiniteScrolling]="true"
        [isReady]="true"
        [pageSize]="pageSize"
        [suppressColumnVirtualisation]="false"
        (agGridRowSelected)="onRowSelection($event)"
        (onGridReady)="gridReady($event)"
        (rowDoubleClicked)="onRowDoubleClicked($event)"
    ></trc-grid>
</div>
