<!-- <div class="dropDownList">
    <select #lookup class="listoptions" [(ngModel)]="lookupValue" (focus)="onFocus(selected)" [style.width]="cellWidth" (change)="onLookupChange(lookup.value)">
        <option *ngFor="let item of lookupData"  [ngValue]="item"> {{ item.name }}</option>
    </select>
</div> -->
<mat-form-field class="dropDownList">
    <mat-select  [(ngModel)]="lookupValue" (focus)="onFocus(selected);" (keydown.backspace)="resetSelection()" (selectionChange)="onLookupChange($event)">
        <mat-option [value]="emptyOption" *ngIf="emptyOption">{{ emptyOption.name }}</mat-option>
        <mat-option *ngFor="let item of lookupData;" [value]="item">
          {{ item.name }}
      </mat-option>
    </mat-select>
</mat-form-field>
