@import '../../../../assets/scss/base/mixins';
@import '../../../../assets/scss/base/variables';

// ------------Removed Ionic ion-item Styling start-------------------
:host {
  ion-list {
    --ion-background-color: transparent;
  }
  ion-item {
    --min-height: 30px;
  }
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
} 
ion-item::part(native){
  padding-inline-end: 0 !important;
  --inner-padding-end: 0 !important;
}
// ------------Removed Ionic ion-item Styling End-------------------

.info-container {
  font-family: Lato, Roboto, Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1rem;
  /* .info-container_icon{
    img{
      @media screen and (max-width: 476px) {
        height: 90px;
        width: 90px;
      }
    }
  } */
  h4 {
    font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
    text-align: center;
  }
  .content {
    p {
      line-height: 1.2;
      margin-bottom: 0;
      color: #848789;
      /* font-size: 0.9rem; */
      text-align: center;
      word-break: break-word;
    }
  }
  .info-container_detail_followup {
    font-family: Lato, Roboto, Arial, sans-serif;
    width: 350px;
    margin: 0 auto;
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    /* @media screen and (max-width: 281px) {
      width: 268px;
    } */
    .info-container_detail_list {
      margin-top: 1.5rem;
      margin-bottom: 4rem;
      border-top: 2px dashed #d0d6da;
      border-bottom: 2px dashed #d0d6da;
      width: 100%;
      @media screen and (max-width: 376px) {
        margin-bottom: 2rem;
      }
      ion-list {
        /* padding-top: 0;
        padding-bottom: 0; */
        ion-item {
          ion-label {
            font-size: 0.9rem;
            font-family: Lato, Roboto, Arial, sans-serif;
            margin-top: 0;
            margin-bottom: 0;
          }
          .detail_list_title {
            color: #848789;
          }
          .detail_list_value {
            color: $primary-color;
            font-weight: 600;
            text-align: right;
            margin-right: 0;
          }
        }
      }
    }
  }
  .info-container_follow {
    margin-top: 4rem;
    @media screen and (max-width: 376px) {
      margin-top: 2rem;
    }
    ion-col {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      p {
        color: $primary-color;
        font-weight: 600;
      }
      .follow-up {
        margin-bottom: 1rem;
      }
    }
  }
}
