  <ion-grid class="info-container">
    <!-- Action Icon Start -->
    <ion-row class="info-container_icon">
      <ion-col size="12">
        <img [src]="imgSrc" alt="warning" />
      </ion-col>
    </ion-row>
    <!-- Action Icon End -->

    <!-- Action Title Content Start -->
    <ion-row class="info-container_title_content">
      <ion-col sizeLg="8" sizeMd="8" offset-lg="2" offset-md="2" size="12">
        <h4 *ngIf="Section1Data?.header">
          {{ Section1Data.header | translate }}
        </h4>

        <!-- for subHeader -->
        <h4 *ngIf="subHeaderSectionTemplate">
          <ion-item lines="none" class="ion-no-padding" *ngFor="let template of subHeaderSectionTemplate">
            <ion-label class="detail_list_title"> {{ template.title | translate }}</ion-label>
            <ion-label class="detail_list_value"> {{ subHeaderSectionData[template.objKeyNameEN] }} </ion-label>
          </ion-item>
        </h4>

        <div class="content" *ngIf="Section1Data?.paragraphs">
          <p *ngFor="let txt of Section1Data?.paragraphs">
            <!-- for CLICK HERE see screen 1.17.2 -->
            <span *ngIf="Section1Data?.span" (click)="Section1Data.spanListener()">{{ Section1Data.span | translate }}</span>
            {{ txt | translate }}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Action Title Content End -->

    <div class="info-container_detail_followup">
      <!-- Detail List and Follow up Start -->
      <ion-row class="info-container_detail" *ngIf="Section2Data">
        <ion-col size="12" class="pt-0 pb-0">
          <div class="info-container_detail_list">
            <ion-list>
              <ion-item lines="none" class="ion-no-padding" *ngFor="let template of Section2Template">
                <ion-label class="detail_list_title"> {{ template.title | translate }} </ion-label>
                <ion-label class="detail_list_value"> {{ Section2Data[template.objKeyNameEN] }} </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- Detail List and Follow up and Close End -->

      <app-buttons></app-buttons>
    </div>
  </ion-grid>
