<ion-content>
  <ion-grid class="info-container">
    <!-- Action Icon Start -->
    <ion-row class="info-container_icon">
      <ion-col size="12">
        <img [src]="imgSrc" alt="warning" />
      </ion-col>
    </ion-row>
    <!-- Action Icon End -->

    <!-- Action Title Content Start -->
    <ion-row class="info-container_title_content">
      <ion-col sizeLg="8" sizeMd="8" offset-lg="2" offset-md="2" size="12">
        <h4 *ngIf="Section1Data?.header">
          {{ Section1Data.header | translate }}
        </h4>
        <div class="content" *ngIf="Section1Data?.paragraphs">
          <p *ngFor="let txt of Section1Data?.paragraphs">
            {{ txt | translate }}
          </p>
        </div>
      </ion-col>
    </ion-row>
    <!-- Action Title Content End -->

    <!-- Detail List and Follow up Start -->
    <div class="info-container_detail_followup">
      <ion-row class="info-container_detail" *ngIf="Section2Data">
        <ion-col size="12" class="pt-0 pb-0">
          <div class="info-container_detail_list">
            <ion-list>
              <ion-item lines="none" class="ion-no-padding" *ngFor="let template of Section2Template">
                <ion-label class="detail_list_title"> {{ template.title | translate }} </ion-label>
                <ion-label class="detail_list_value"> {{ Section2Data[template.objKeyNameEN] }} </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
      <!-- Detail List and Follow up and Close End -->

      <!-- Follow up cases Start -->
      <ion-row class="info-container_follow_request" *ngIf="followUpButton">
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <p>{{ 'TEXT.FOLLOW_UP_QUESTION' | translate }}</p>
          <ion-button class="btn primary-btn follow-up green-box-shadow full-width">{{ 'BUTTONS.FOLLOW_UP' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <!-- Follow up cases End-->

      <!-- Follow up cases Start -->
      <ion-row class="info-container_follow_request" *ngIf="followupComplain">
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <ion-button class="btn primary-btn follow-up green-box-shadow full-width">{{ 'BUTTONS.FOLLOW_UP_COMPLAIN' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <!-- Follow up cases End-->

      <!-- Close Button Start -->
      <ion-row *ngIf="closeButton">
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <ion-button class="btn secondary-btn close full-width">{{ 'BUTTONS.CLOSE' | translate }}</ion-button>
        </ion-col>
      </ion-row>
      <!-- Close Button End -->

      <!-- Exit Troubleshooting Start -->
      <ion-row *ngIf="exitTroubleshootLink">
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <div class="transparent-btn">
            <a href="javascript:void(0)"> {{ 'LINKS.EXIT_TROUBLESHOOTING' | translate }}</a>
          </div>
        </ion-col>
      </ion-row>
      <!-- Exit Troubleshooting End -->

      <!-- Exit Troubleshooting Start -->
      <ion-row *ngIf="anotherComplainLink">
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <div class="transparent-btn">
            <a href="javascript:void(0)"> {{ 'LINKS.COMPLAINT_ANOTHER' | translate }}</a>
          </div>
        </ion-col>
      </ion-row>
      <!-- Exit Troubleshooting End -->
    </div>
  </ion-grid>
</ion-content>
