<ion-content padding malihu-scrollbar [scrollbarOptions]="{ axis: 'y', theme: 'dark-3' }">
  <ion-grid class="form-main-container">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <h5>{{ 'MESSAGES.RESET_TO_FACTORY_DEFAULT' | translate }}</h5>
        </ion-title>
        <ion-buttons slot="end">
          <ion-button class="btn transparent-btn close-btn" (click)="dismiss()">{{ 'BUTTONS.CLOSE' | translate }}</ion-button>
          <img src="assets/images/action-icons/icon_close.svg" alt="close" (click)="dismiss()" class="header-icons-close" />
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-row>
      <ion-col size="12">
        <div class="messagebox">
          <p>{{ 'MESSAGES.THE_ROUTERS_WIFI_WILL_BE_RESET_TO_DEFAULT_FACTORY_SETTINGS' | translate }}</p>
          <p>{{ 'MESSAGES.NOTE_YOU_WILL_LOSE_ALL_SETTINGS_AFTER_THE_FACTORY_RESET' | translate }}</p>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-checkbox checked="true" color="primary"></ion-checkbox>
        {{ 'MESSAGES.I_AGREE_TO' | translate }} <a>{{ 'MESSAGES.TERMS_AND_CONDITIONS' | translate }}</a>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center terms-col">
          <motive-button [type]="'terms'"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button [title]="'BUTTONS.RESET_ROUTER'" [type]="'primary'" (clickHandler)="CloseMOdal()"></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button [title]="'BUTTONS.CANCEL'" [type]="'link'" (clickHandler)="dismiss()"></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
