<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="page-top_title-container">
          <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
        </div>
        <p class="page-top_sub-title">{{ pageContent | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- Package list Start -->
      <ion-col sizeLg="4" sizeMd="6" size="12">
        <form [formGroup]="formGroup">
          <!-- <ion-radio-group name="radio-group" value="0">
            <ion-item lines="none" *ngFor="let d of cardList; let i=index;">
              <div class="card">
                <ion-label class="sub-title">{{ d.title }}</ion-label>
                <ion-radio name="radioButton" value="{{i}}"></ion-radio>
              </div>
            </ion-item>
          </ion-radio-group> -->

          <ion-radio-group name="radio-group" value="0">
            <ion-item lines="none" *ngFor="let d of cardList; let i = index">
              <ion-card>
                <ion-card-header>
                  <ion-card-title>
                    <ion-label class="sub-title">{{ d.title }}</ion-label>
                    <ion-radio name="radioButton" value="{{ i }}"></ion-radio>
                    <p>{{ d.description }}</p>
                  </ion-card-title>
                </ion-card-header>
                <!-- <ion-card-content>
                  <p>{{ d.description }}</p>
                </ion-card-content> -->
              </ion-card>
            </ion-item>
          </ion-radio-group>
        </form>
      </ion-col>
      <!-- Package Card list End -->
    </ion-row>
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (clickHandler)="button1Listener()"
            [disable]="!formGroup.valid"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding ion-text-center">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (clickHandler)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col sizeLg="6" sizeMd="12" size="12" class="pt-0 pb-0 ion-text-center" *ngIf="button3">
      <motive-button
        *ngIf="button3"
        [type]="button3.type"
        [title]="button3.title"
        [explanatoryNote]="button3.explanatoryNote"
        [SM]="button3.SM"
        [MD]="button3.MD"
        [LG]="button3.LG"
        (clickHandler)="button3Listener()"
      ></motive-button>
    </ion-col>
  </ion-row>
</div>
