<ion-content>
  <ion-grid>
    <!-- Page Title Start -->
    <ion-row>
      <ion-col size="12">
        <div class="page-top_title">
          <h2>{{ 'HEADER.TECHNICAL_SUPPORT' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Page Title End -->

    <!-- User Profile Start -->
    <ion-row>
      <ion-col size="12">
        <app-profile [user]="user"></app-profile>
        <!-- <button (click)="hello()">text loader</button> -->
        <!-- <button (click)="hello2()">hello 2</button> -->
      </ion-col>
    </ion-row>
    <!-- User Profile End -->

    <!-- Technical Support List Start -->
    <ion-row class="technical-support-title">
      <ion-col size="12">
        <h2>{{ 'MESSAGES.RUN_SMART_DIAGNOSIS_ON_YOUR_PRODUCT_AND_SERVICE' | translate }}</h2>
        <p>{{ 'MESSAGES.AN_AUTOMATED_SELFDIAGNOSIS_WILL_BE_INITIATED_ONCE_YOU_SELECT_ONE_OF_THE_FOLLOWING_OPTIONS' | translate }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-row class="technical-support-container">
          <ion-col sizeLg="6" sizeMd="4" size="12" class="technical-support" *ngFor="let card of landingPageCards" (click)="handleClick(card.linkTo)">
            <a href="javascript:void(0)" class="technical-support_card" (click)="onCardClick(card)">
              <img [src]="card.img" alt="" class="" />
              <div class="technical-support_content">
                <h6 class="technical-support_title">{{ card.title | translate }}</h6>
                <p>{{ card.body | translate }}</p>
              </div>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Technical Support List End -->

    <!-- Quick Links Start -->
    <ion-row>
      <ion-col size="12">
        <app-quick-links [codeType]="codeType"></app-quick-links>
      </ion-col>
    </ion-row>
    <!-- Quick Links End -->
  </ion-grid>
</ion-content>
