<ion-content>
  <ion-grid>
    <!-- Page Top Title Start -->
    <!--  <ion-row>
      <ion-col size="12">
      <app-page-top></app-page-top> 
        
      </ion-col>
    </ion-row>-->
    <!-- Page Top Title End -->

    <!--Page Top Title Start -->
    <ion-row [ngClass]="selectedLang === 'en' ? 'page-top_title' : ''">
      <ion-col size="12">
        <h2>{{ 'HEADER.TECHNICAL_SUPPORT' | translate }}</h2>
      </ion-col>
    </ion-row>
    <!--Page Top Title End -->

    <!-- User Profile Start -->
    <ion-row>
      <ion-col size="12">
        <app-profile></app-profile>
      </ion-col>
    </ion-row>
    <!-- User Profile End -->

    <!-- Technical Support List Start -->
    <ion-row>
      <ion-col size="12">
        <ion-row class="technical-support-container">
          <ion-col sizeLg="3" sizeMd="4" size="12" class="technical-support" *ngFor="let card of landingPageCards" (click)="handleClick(card.linkTo)">
            <a href="javascript:void(0)" class="technical-support_card">
              <img [src]="card.img" alt="" class="internet-issue-icon" />
              <div class="technical-support_content">
                <h5 class="technical-support_title">{{ card.title | translate }}</h5>
                <p>{{ card.body | translate }}</p>
              </div>
            </a>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Technical Support List End -->

    <ion-row>
      <ion-col size="12">
        <!-- Quick Links Start -->
        <app-quick-links [codeType]="codeType"></app-quick-links>
        <!-- Quick Links End -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-loader *ngIf="showLoader"></app-loader>
