.page-top-wrapper {
  min-height: 138px;
  display: flex;
  flex-direction: column;
  .back-to-page {
      display: inline-block;
      padding-top: 2rem;
      padding-right: 1rem;
      img{
        display: block;
      }
  }
  .page-top-title{
    h2{
      font-family: Neotech-regular,GE SS Two,Roboto,Arial,sans-serif;
      /* font-size: 2.625rem; */
      margin-top: 0.5rem;
      margin-bottom: 0;
      line-height: 50px;
    }
  }
}

