<div class="page-top-container">

  <ion-row class="page-top_back">
    <!-- <ion-col size-lg="6" size-md="6" size-sm="6" size="12"></ion-col> -->
    <ion-col size="12">
      <a href="javascript:void(0)" class="back-to-page">
        <img src="../../../../assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page">
        <span>Back</span>
        </a>
    </ion-col>
  </ion-row>

  <ion-row class="page-top_title">
    <ion-col size="12">
      <h2>
        Technical support
      </h2>
    </ion-col>
  </ion-row>
  
</div>


  <!-- <div class="row page-top_back">
    <div class="col-sm-12">
      <a href="javascript:void(0)" class="back-to-page">
        <img src="../../../../assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page">
        <span>Back</span>
      </a>
    </div>
  </div> 
  <div class="row page-top_title">
    <div class="col-sm-12">
      <h2>
        Technical support
      </h2>
    </div>
  </div>-->


