<div class="loader">
    <mat-spinner *ngIf="!isReady"></mat-spinner>
</div>
<div class="grid-layout-wrapper">
    <trc-grid
        *ngIf="showQueryModeGrid && isReady"
        #TRCGridQuery
        [rowData]="queryModeData"
        [isReady]="isReady"
        [columnDefs]="colDefQuery"
        [pagination]="false"
        [editable]="true"
        [fullRowEdit]="true"
        [enabledInfiniteScrolling]="false"
        [refData]="refData"
        (onEnter)="onEnterQueryMode($event)"
    ></trc-grid>
</div>
