<!-- <app-tab-tile imageSrc="" case="" title=""></app-tab-tile>
<p>VIEW DETAILS ></p> -->
<ion-content>
  <ion-grid>
    
    <ion-row>
      <!-- Page Title Start -->
      <ion-col size="12">
        <div class="page-top_title">
          <h2>Internet Issues</h2>
        </div>
      </ion-col>
      <!-- Page Title End -->
      <ion-col size="12">
        
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="12">
          <div class="">
            <a href="javascript:void(0)" class="arrow-link">
              <span>View Details</span>
              <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" />
            </a>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
          <h4 class="sub-title">No Internet Issue</h4>
          <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>