
@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
   --ion-font-family:Lato,Roboto,Arial,sans-serif;
}
// --------------------------------------------------------------

.issue-tabs-contanier,
.issue-tabs-inner_contanier{
  height:100%;
  @media screen and (max-width: 992px) {
    height:auto;
  }
}
.issue-tabs_title{
  @media screen and (min-width: 992px) {
    display:none;
  }
}


.issue-tabs_wizard {
  background-color:$white;
  @media screen and  (max-width: 992px) {
    background-color: transparent;
  }
}
.issue-tabs_content{
  .content {
    width: 450px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
     /*  border-top: 1px solid #f1f1eb;
    -webkit-box-shadow: 0 -1px 0 #f1f1eb;
    box-shadow: 0 -1px 0 #f1f1eb; */
    .sub-title{
      @media screen and (max-width: 992px) {
        display: block;
      }
    }
    app-page-top{
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    p{
      margin-top: 0;
      padding-left: 0.2rem;
      color: $secondary-color;
      line-height: 1.5;
    }
  }
}

