<!-- <app-tab-tile imageSrc="" case="" title=""></app-tab-tile>
<p>VIEW DETAILS ></p> -->
<ion-content>
  <ion-grid>
    
    <ion-row>
      <!-- Page Title Start -->
      <ion-col size="12">
        <div class="page-top_title">
          <h2>Internet Issues</h2>
        </div>
      </ion-col>
      <!-- Page Title End -->
    </ion-row>

    <div class=""></div>
    
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="">
        <a href="javascript:void(0)" class="arrow-link ion-justify-content-center">
          <span>View Details</span>
          <img src="assets/images/action-icons/icon_arrow_right.svg" alt="View Details" />
        </a>
      </ion-col>
    </ion-row>

    <div class="content-contianer">
      <ion-row>
        <ion-col size="12">
            <h4 class="sub-title">No Internet Issue</h4>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte.</p>
        </ion-col>
      </ion-row>
      
      <ion-row>

        <!-- Button Start -->
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <ion-button class="btn primary-btn follow-up green-box-shadow full-width">Try again later</ion-button>
        </ion-col>
        <!-- Button Start End-->

        <!-- Book a Complaint Start -->
        <ion-col size="12" class="pt-0 pb-0 ion-text-center">
          <div class="transparent-btn">
            <a href="javascript:void(0)">BOOK A COMPLAINT</a>
          </div>
        </ion-col>
        <!--  Book a Complaint End -->

      </ion-row>
  
    </div>
    

  </ion-grid>
</ion-content>