@import '../../../../assets/scss/base/mixins';
@import '../../../../assets/scss/base/variables';

// --------------------------------------------------------------
:host {
   --ion-font-family:Lato,Roboto,Arial,sans-serif;
   ion-list{
    --ion-background-color:transparent;
    padding-top: 0;
    padding-bottom: 0;
  }
  ion-item{
    --min-height: auto; 
    ion-label{
      color:$secondary-color;
    }
    .inline-list_value {
      color: $primary-color;
      font-weight: 600;
      text-align: right;
    }
  }
  .inline-ion-list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    ion-item {
      --min-height: 30px;
    }
  }
}
ion-item::part(native){
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-inline-start: 0;
  --border-width: 0;
  --inner-border-width: 0;
  @media screen and (max-width: 321px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
}
// --------------------------------------------------------------
.two-col_right{
  @media screen and (max-width: 992px) {
    margin-top:4.5rem;
  }
}
/* .issue-tabs_title{
  @media screen and (min-width: 992px) {
    display:none;
  }
} */
.issue-tabs_wizard {
  @media screen and  (max-width: 992px) {
    margin-bottom: 1rem;
  }
}
.issue-tab_content{
  .content {
    width: 450px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      margin-top: 1rem;
      width: 100%;
    }
    .sub-title{
      @media screen and (max-width: 992px) {
        display: block;
      }
    }
    app-page-top{
      @media screen and (max-width: 992px) {
        display: none;
      }
    }
    p{
      margin-bottom:0;
      color: $secondary-color;
      line-height: 1.5;
      @media screen and (max-width: 767px) {
        font-size:14px;
      }
    }
    .inline-list{
      margin-top: 1.5rem;
      ion-item{
        padding-bottom: .5rem;
      }
      padding-top: 1rem;
      padding-bottom: .8rem;
      .inline-list_title {
        color: #848789;
      }
      .inline-list_value {
        color: $primary-color;
      }
    }
    
  }
}

