<div class="open-modal-header">
    <div class="p-2 open-modal">
        <h2 mat-dialog-title class="ceding">
            {{ title }}
            <button class="close-btn-icon" [mat-dialog-close]="true">
                <i class="icon-reset_toolar"></i> 
           </button>
        </h2>
        <mat-dialog-content>
            <mat-tab-group mat-align-tabs="start" [(selectedIndex)]="currentTab">
                <mat-tab label="Counterparty Information">
                    <app-counter-party-information [producerBranchKey]="producerBranchKey"></app-counter-party-information>
                </mat-tab>
                <mat-tab label="Bank Accounts">
                    <app-counter-party-bank-account #bankDetail [producerBranchKey]="producerBranchKey"> </app-counter-party-bank-account>
                </mat-tab>
                <mat-tab label="Expanded Notes">
                    <app-counter-party-expanded-note [producerBranchKey]="producerBranchKey"></app-counter-party-expanded-note>
                </mat-tab>
            </mat-tab-group>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button class="mat-raised-button open-dialog-btn  mat-button-disabled" *ngIf="currentTab != 0 && (!showHistory || currentTab != 1)" [mat-dialog-close]="true">OK</button>
            <button class="mat-raised-button open-dialog-btn  popup-cancel-btn" [mat-dialog-close]="true" *ngIf="!showHistory || currentTab != 1">
                {{ currentTab == 0 ? 'Close' : 'Cancel' }}
            </button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn mat-button-disabled"  *ngIf="currentTab == 1 && !showHistory">New</button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn mat-button-disabled" *ngIf="currentTab == 1 && !showHistory">Delete</button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn" *ngIf="currentTab == 1 && !showHistory" (click)="onHistoryClick()">History</button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn" *ngIf="currentTab == 1 && showHistory" (click)="onCloseHistoryClick()">Close</button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn" *ngIf="currentTab == 2">Spelling</button>
            <button class="mat-raised-button open-dialog-btn popup-cancel-btn" *ngIf="currentTab == 2">Print</button>
        </mat-dialog-actions>
    </div>
</div>
