<div
  class="custom-dropzone"
  ngx-dropzone
  [maxFileSize]="maxFileSize"
  [multiple]="multiple"
  [accept]="accept"
  [disabled]="disabled"
  (change)="onFilesAdded($event)"
>
  <ngx-dropzone-label>
    <div class="upload-file-wrapper">
      <span class="material-icons">
        cloud_upload
      </span>
      <h3>Drag or drop your files here or</h3>
      <label class="mat-primary browse-file-label" for="fileDropRef">Browse for file</label>
    </div>
  </ngx-dropzone-label>
  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="removable" (removed)="onRemove(f)">
  </ngx-dropzone-image-preview>
</div>
