.custom-dropzone
{
  width: 500px;
  height: 400px;
}
label {
  color: white;
  width: 100px;
  height: 44px;
  border-radius: 21.5px;
  background-color: #db202f;
  padding: 8px 16px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}