<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Heading -->
    <ion-row>
      <ion-col size="12">
        <div>
          <h2>{{ 'DEVICE_CONNECTED_HOMEZONE.HEADING' | translate }}</h2>
        </div>
      </ion-col>
    </ion-row>
    <!-- Home Zone Connected Devices list -->
    <ion-row>
      <ion-col size="12">
        <div>Home Zone Connected Devices list Here!!!</div>
      </ion-col>
    </ion-row>
    <!-- Unable to connect to home zone body section -->
    <ion-row>
      <ion-col size="12">
        <h5>{{ 'DEVICE_CONNECTED_HOMEZONE.SUB_HEADING' | translate }}</h5>
        <p>{{ 'DEVICE_CONNECTED_HOMEZONE.PARAGRAPH1' | translate }}</p>
        <p>{{ 'DEVICE_CONNECTED_HOMEZONE.PARAGRAPH2' | translate }}</p>
      </ion-col>
    </ion-row>
    <!-- <motive-button></motive-button> -->
  </ion-grid>
</ion-content>
