<h1>Historic Update for Bank Account {{accountNumber}} | Bank Account Changes</h1>
<div style="height: calc(100vh - 395px)">
  <trc-grid
      #TRCHistoryGrid
      [rowData]="historyData"
      [columnDefs]="colDef"
      [editable]="true"
      [pagination]="false"
      [enabledInfiniteScrolling]="false"
      [isReady]="true"
      [suppressColumnVirtualisation]="false"

  ></trc-grid>
</div>
<!--
[scrollBarDataSource]="scrollBarDataSource"
[pageSize]="pageSize"
(onGridReady)="gridReady($event)" -->
