<div class="main-wizard-container">
  <div class="wizard-container">
    <div class="wizrad wizrad_left">
      <div class="states">
        <div class="default-state state">
          <img src="/assets/images/network-map-icons/icon_smartphone_default.svg" alt="Smart Phone Default State" />
        </div>
        <ion-label> abc </ion-label>
      </div>
    </div>
    <div class="wizrad wizrad_center">
      <div class="wizard-line default-line"></div>
    </div>
    <div class="wizrad wizrad_right">
      <div class="states">
        <div class="okay-state state">
          <img src="/assets/images/network-map-icons/icon_smartphone_all_okay.svg" alt="Smart Phone okay State" />
        </div>
        <ion-label> abc </ion-label>
      </div>
    </div>
  </div>

  <div class="three-flow-box-contaier">
    <div class="flow-box flow-box_left">
      <div class="line okay-lines">
        <div class="line-left"></div>
        <div class="line-center"></div>
        <div class="line-right"></div>
      </div>
      <div class="image-text-box">
        <div class="state error-state">
          <img src="/assets/images/network-map-icons/icon_home_default.svg" />
        </div>
        <span class="flow-box_label"> STB </span>
      </div>
    </div>
    <div class="flow-box flow-box_center">
      <div class="line default-vline">
        <div class="line-vcenter"></div>
      </div>
      <div class="image-text-box">
        <div class="state default-state">
          <img src="/assets/images/network-map-icons/icon_home_default.svg" />
        </div>
        <span class="flow-box_label"> STB </span>
      </div>
    </div>
    <div class="flow-box flow-box_right">
      <div class="line pending-lines">
        <div class="line-left"></div>
        <div class="line-center"></div>
        <div class="line-right"></div>
      </div>
      <div class="image-text-box">
        <div class="state okay-state">
          <img src="/assets/images/network-map-icons/icon_home_default.svg" />
        </div>
        <span class="flow-box_label"> STB </span>
      </div>
    </div>
  </div>
</div>

<!-- Wizard Flow End -->

<!-- <div class="states-inner_container">
  <div class="step-wizard-container ion-text-center">
    <div class="steps-header">
        <div class="steps">
            <div class="box-design pending">
              <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                <span>Etisalat</span>
            </div>
        </div>
        <div class="steps error">
            <div class="box-design">
                <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
               <span>ONT</span> 
            </div>
        </div>
        <div class="steps active">
            <div class="box-design">
                <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                <span> ONT 1</span>  
            </div>
        </div>
    </div>

    
    <div class="step-active-content">
        <div class="step-tree-list">
            <div class="tree-step active-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
            <div class="tree-step pending-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
            <div class="tree-step error-inStep">
                <div class="box-design">
                    <div class="cirlce-icon"><i class="fa fa-check"></i></div>
                    <img src="/assets/images/network-map-icons/icon_home_default.svg"/>
                    <span>STB</span>
                </div>
            </div>
        </div>
    </div>
  </div>
</div> -->
