@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
  --ion-font-family: Lato, Roboto, Arial, sans-serif;
  ion-list {
    background: var(--ion-item-background, var(--ion-background-color, transparent));
  }
}
ion-item::part(native) {
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-left: 0;
  --background: transparent;
  --border-radius: 0;
  --border-width: 0;
  --inner-border-width: 0;
}
// --------------------------------------------------------------

.main-wizard-container {
  max-width: 550px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  .three-flow-box-contaier,
  .two-boxes-config,
  .five-boxes-config,
  .parent-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .two-boxes,
  .box-1,
  .box-2,
  .box-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
  }
}
.five-boxes-config {
  .boxes {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .box-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .box-big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
    height: 108px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    .box-curve-line {
      width: 100%;
    }
  }
  .curve-lines-left {
    padding-bottom: 12px;
    padding-left: 32px;
    @media screen and (max-width: 281px) {
      padding-left: 20px;
    }
  }
  .curve-lines-right {
    padding-bottom: 12px;
    padding-right: 32px;
    @media screen and (max-width: 281px) {
      padding-right: 20px;
    }
  }
  .image-text-boxes-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    /* -ms-flex-pack: distribute;
    justify-content: space-around; */
  }
}
.two-boxes-config {
  margin-bottom: 0.8rem;
  .box-1,
  .box-2,
  .box-3 {
    position: relative;
  }
  .box-1 {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-right: -15px;
  }
  .box-2 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 45px;
    flex-basis: 45px;
  }
  .box-3 {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-left: -15px;
  }
  .straight-line {
    display: block;
    position: absolute;
    top: 30%;
    left: 75px;
    width: calc(100% - 90px);
    /* border-bottom: 3px solid #ddd; 
    width: calc(100% - 100px);*/
    @media screen and (max-width: 321px) {
      left: 68px;
    }
  }
  .image-text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75px;
    text-align: center;
    @media screen and (max-width: 767px) {
      width: 70px;
    }
    @media screen and (max-width: 321px) {
      width: 60px;
    }
  }
}

.five-boxes-config {
  .image-text-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 75px;
    text-align: center;
    @media screen and (max-width: 767px) {
      width: 70px;
    }
    @media screen and (max-width: 321px) {
      width: 60px;
    }
  }
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 107px;
  box-sizing: border-box;
  .line-left {
    width: 13px;
    height: 50px;
  }
  .line-center {
    width: calc(100% - 50px);
  }
  .line-right {
    width: 13px;
    height: 50px;
  }
  .line-vcenter {
    width: 0.15rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
//-------------------- Box Left Right center line Start ----------------------
.default-lines {
  .line-center {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 2px auto 0;
      width: 100%;
      height: 43.5px;
      border: 3px solid #f2f2f2;
      border-top: 3px solid transparent;
      border-left: 0px;
      border-right: 0;
      @-moz-document url-prefix() {
        height: 44.5px !important;
      }
    }
  }
}
.okay-lines {
  .line-center {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 2px auto 0;
      width: 100%;
      height: 43.5px;
      border: 3px solid rgb(113 158 25 / 60%);
      border-top: 3px solid transparent;
      border-left: 0px;
      border-right: 0;
      @-moz-document url-prefix() {
        height: 44.5px !important;
      }
    }
  }
}
.error-lines {
  .line-center {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 2px auto 0;
      width: 100%;
      height: 43.5px;
      border: 3px solid rgba(190, 18, 24, 0.6);
      border-top: 3px solid transparent;
      border-left: 0px;
      border-right: 0;
      @-moz-document url-prefix() {
        height: 44.5px !important;
      }
    }
  }
}
.pending-lines {
  .line-center {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 2px auto 0;
      width: 100%;
      height: 43.5px;
      border: 3px solid rgb(255 102 49 / 60%);
      border-top: 3px solid transparent;
      border-left: 0px;
      border-right: 0;
      @-moz-document url-prefix() {
        height: 44.5px !important;
      }
    }
  }
}
//-------------------- Box Left Right center line End ----------------------

.flow-box_label,
.image_label {
  width: 100%;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: $primary-color;
  font-size:0.875rem; //14px
  @media screen and (max-width: 767px) {
    font-size: 0.75rem;
  }
}
.state {
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0.1rem;
  width: 56px;
  height: 56px;
  text-align: center;
  @media screen and (max-width: 767px) {
    font-size: 0.75rem;
    width: 52px;
    height: 52px;
  }
  @media screen and (max-width: 281px) {
    width: 42px;
    height: 42px;
  }
  img {
    width: 2rem;
    height: 100%;
    @media screen and (max-width: 281px) {
      width: 1.8rem;
    }
  }
}
.default-state {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.okay-state {
  border: 2px solid $etisalat-color;
  background-color: $white;
  position: relative;
  box-shadow: 0 5px 10px rgb(113 158 25 / 31%);
  &:after {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    background: url('../../../../../assets/images/network-map-icons/all-okay-state.svg');
    background-repeat: no-repeat;
    background-size: 1.1rem;
    -webkit-box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    display: inline-block;
    position: absolute;
    right: -6px;
    bottom: -6px;
  }
}
.error-state {
  border: 2px solid #be1218;
  background-color: #f9e0df;
  position: relative;
  box-shadow: 0 5px 10px rgb(190 18 24 /31%);
  &:after {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    background: url('../../../../../assets/images/network-map-icons/issue-error-state.svg');
    background-repeat: no-repeat;
    background-size: 1.1rem;
    -webkit-box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    display: inline-block;
    position: absolute;
    right: -6px;
    bottom: -6px;
  }
}
.pending-state {
  border: 2px solid #ff6631;
  background-color: #ffe0d6;
  position: relative;
  box-shadow: 0 5px 10px rgb(255 102 49/31%);
  &:after {
    content: '';
    width: 1.1rem;
    height: 1.1rem;
    background: url('../../../../../assets/images/network-map-icons/action-pending-state.svg');
    background-repeat: no-repeat;
    background-size: 1.1rem;
    -webkit-box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 10%);
    border-radius: 1rem;
    display: inline-block;
    position: absolute;
    right: -6px;
    bottom: -6px;
  }
}
.straight-line {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  height: 0.2rem;
}
.default-line {
  background-color: #f2f2f2;
}
.okay-line {
  background-color: rgb(113 158 25 / 60%);
}
.error-line {
  background-color: rgb(190 18 24 / 60%);
}
.pending-line {
  background-color: rgb(255 102 49 / 60%);
}

.five-boxes-container {
  margin-top: 5.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  position: relative;
  .arrow {
    position: absolute;
    bottom: 54px;
    z-index: 1;
    cursor: pointer;
    @include transition(all 0.3s ease-in-out);
    &:hover {
      opacity: 0.5;
    }
    img {
      display: block;
    }
  }
  .right-arrow {
    right: 0;
  }
  .left-arrow {
    left: 0;
  }
  .one-box-container {
    position: relative;
    .one-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      position: absolute;
      left: 0;
      right: 0;
      top: -90px;
      z-index: 2;
      margin: auto;
      .one-box-vline {
        height: 56px;
        width: 0.2rem;
        margin-bottom: 1rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
      .image-text-box {
        background-color: $white;
        width: 75px;
        margin: auto 0;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        @media screen and (max-width: 992px) {
          width: 65px;
          background-color: #fbfcf7;
          background-image: -webkit-linear-gradient(top, #fdfefb 15%, #fbfcf7 100%); /* Chrome10-25,Safari5.1-6 */
          background-image: -moz-linear-gradient(top, #fdfefb 15%, #fbfcf7 100%); /* FF3.6-15 */
          background-image: linear-gradient(to bottom, #fdfefb 15%, #fbfcf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefb', endColorstr='#fcfdfa',GradientType=0 ); */
        }
        @media screen and (max-width: 567px) {
          background-color: #fafbf7;
          background-image: -webkit-linear-gradient(top, #fdfefb 15%, #fafbf7 100%); /* Chrome10-25,Safari5.1-6 */
          background-image: -moz-linear-gradient(top, #fdfefb 15%, #fafbf7 100%); /* FF3.6-15 */
          background-image: linear-gradient(to bottom, #fdfefb 15%, #fafbf7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfefb', endColorstr='#fafbf7',GradientType=0 );*/
        }
        @media screen and (max-width: 281px) {
          width: 50px;
        }
      }
    }
  }
}
.box-small {
  position: absolute;
  height: 90px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: calc(100% - 125.5px);
  /*   @media screen and (min-width: 800px) and (max-width: 1024px) {
    width: calc(100% - 112.25px);
  } */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    width: calc(100% - 112.25px);
  }
  /*  @media screen and (min-width: 359px) and (max-width: 640px)  {
    width: calc(100% - 85px);
  } */
  @media screen and (min-width: 377px) and (max-width: 415px) {
    width: calc(100% - 86.6px);
  }
  @media screen and (max-width: 376px) {
    width: calc(100% - 76.8px);
  }
  @media screen and (min-width: 322px) and (max-width: 374px) {
    width: calc(100% - 68px);
  }
  @media screen and (max-width: 321px) {
    width: calc(100% - 48px);
  }
  /*  @media screen and (max-width: 1024px) {
    width: calc(100% - 124.25px);
  } */
}
.curve-line {
  position: relative;
  flex: 0 0 25px;
  max-width: 25px;
  height: 100%;
}
.image-text-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.horizontal-line {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  position: relative;
  height: 100%;
}
.horizontal-line {
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border-top: 3px solid #ffffff;
    border-bottom: 0 solid transparent;
    border-left: 0;
    border-right: 0;
  }
}
.box-curve-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.box-small-left {
  .curve-line:after {
    height: 72px;
  }
}
//-------------------- Left Box Lines Start ----------------------
.left-box {
  .left-box-one,
  .left-box-two {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
  .curve-line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 1rem;
      height: 100%;
      border-top-left-radius: 0.7rem;
      border: 3px solid #ffffff;
      border-bottom: transparent;
      border-right: transparent;
    }
  }
  .box-big {
    .box-small {
      right: 0;
    }
  }
  .default-curve-line {
    &:after {
      border: 3px solid #f1f1eb;
      border-right: transparent;
      border-bottom: transparent;
    }
  }
  .default-horizontal-line {
    &:before {
      border-top: 3px solid #f1f1eb;
      border-bottom: 0 solid transparent;
      border-left: 0;
      border-right: 0;
    }
  }
  .error-curve-line {
    &:after {
      border: 3px solid rgba(190, 18, 24, 0.6);
      border-right: transparent;
      border-bottom: transparent;
    }
  }
  .error-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(190, 18, 24, 0.6);
      border-bottom: 0 solid transparent;
      border-left: 0;
      border-right: 0;
    }
  }
  .pending-curve-line {
    &:after {
      border: 3px solid rgba(255, 102, 49, 0.6);
      border-right: transparent;
      border-bottom: transparent;
    }
  }
  .pending-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(255, 102, 49, 0.6);
      border-bottom: 0 solid transparent;
      border-left: 0px;
      border-right: 0;
    }
  }
  .okay-curve-line {
    &:after {
      border: 3px solid rgba(113, 158, 25, 70%);
      border-right: transparent;
      border-bottom: transparent;
    }
  }
  .okay-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(113, 158, 25, 70%);
      border-bottom: 0 solid transparent;
      border-left: 0;
      border-right: 0;
    }
  }
}
//-------------------- Left Box Lines End ----------------------

//-------------------- Right Box Lines Start ----------------------
.right-box {
  .right-box-one,
  .right-box-two {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }
  .curve-line {
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 100%;
      border-top-right-radius: 0.7rem;
      border: 3px solid #ffffff;
      border-bottom: transparent;
      border-left: transparent;
    }
  }
  .default-curve-line {
    &:after {
      content: '';
      display: block;
      border: 3px solid #f1f1eb;
      border-left: transparent;
      border-bottom: transparent;
    }
  }
  .default-horizontal-line {
    &:before {
      border-top: 3px solid #f1f1eb;
      border-bottom: 0 solid transparent;
      border-left: 0px;
      border-right: 0;
    }
  }
  .error-curve-line {
    &:after {
      border: 3px solid rgba(190, 18, 24, 0.6);
      border-left: transparent;
      border-bottom: transparent;
    }
  }
  .error-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(190, 18, 24, 0.6);
      border-bottom: 0 solid transparent;
      border-left: 0px;
      border-right: 0;
    }
  }
  .pending-curve-line {
    &:after {
      border: 3px solid rgba(255, 102, 49, 0.6);
      border-left: transparent;
      border-bottom: transparent;
    }
  }
  .pending-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(255, 102, 49, 0.6);
      border-bottom: 0 solid transparent;
      border-left: 0;
      border-right: 0;
    }
  }
  .okay-curve-line {
    &:after {
      border: 3px solid rgba(113, 158, 25, 70%);
      border-left: transparent;
      border-bottom: transparent;
    }
  }
  .okay-horizontal-line {
    &:before {
      border-top: 2.5px solid rgba(113, 158, 25, 70%);
      border-bottom: 0 solid transparent;
      border-left: 0;
      border-right: 0;
    }
  }
  .box-big {
    .box-curve-line {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
    .box-small {
      left: 0;
    }
  }
}
//-------------------- Right Box Color Lines End ----------------------
