
<div class="main-wizard-container">

  <!-- Upper Flow Start -->  
  <div class="two-boxes-config">
    <div class="box-1 two-boxes">
      <div class="image-text-box">
        <div class="state error-state">
          <img src="/assets/images/network-map-icons/icon_smartphone_default.svg" alt="Smart Phone Default State">
        </div>
        <span class="image_label">Etisalat</span>
      </div>
      <div class="straight-line default-line"></div>
    </div>
    <div class="box-2 two-boxes">
      <div class="image-text-box">
        <div class=" state default-state">
          <img src="/assets/images/network-map-icons/icon_smartphone_all_okay.svg" alt="Smart Phone okay State">
        </div>
        <span class="image_label">ONT</span>
      </div>
    </div>
    <div class="box-3 two-boxes"></div>
  </div>
   <!-- Upper Flow End --> 
   </div>