<!-- Quick Links Start -->
<div class="quick-links-container">
  <ion-row>
    <ion-col size="12">
      <div class="quick-links_title_all">
        <h5 class="quick-links_title">Quick links</h5>
        <a href="javascript:void(0)" class="quick-links_all">
          <span>See All</span>
          <img src="../../../../../assets/images/action-icons/icon_arrow_right.svg" alt="See All Icon">
        </a>
      </div>
    </ion-col>
  </ion-row>
  <!-- Quick Links End -->

  <!-- Quick Links Slider Start -->
  <ion-row class="quick-links-card">
    <ion-col  sizeLg="2" sizeMd="2" sizeXs="6" size="6">
      <a href="javascript:void(0)">
        <ion-card>
          <ion-card-content>
            <p>
              I want to install my new router
            </p>
          </ion-card-content>
        </ion-card>
      </a>
      
    </ion-col>
  </ion-row>
  <!-- Quick Links Slider End -->

</div>


  
