@import '../../../../../assets/scss/base/mixins';
@import '../../../../../assets/scss/base/variables';


.quick-links-container{
  .quick-links_title_all{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family:Lato,Roboto,Arial,sans-serif;
    margin-bottom: .8rem;
    .quick-links_title{
      font-family:Lato,Roboto,Arial,sans-serif;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: 0;
      letter-spacing: 0.14285714em;
      text-transform: $text-uppercase;
      @-moz-document url-prefix() {
        font-weight: 500 !important;
      }
    }
    .quick-links_all{
      color:$etisalat-color;
      text-transform: $text-uppercase;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      letter-spacing: 0.14285714em;
      text-decoration: none;
      @include transition(all 0.3s ease-in-out);
      &:hover,
      &:focus,
      &:active{
        text-decoration: none;
        color:$primary-color;
      }
      span,
      img{
        display: block;
      }
      img{
        width: 0.8rem;
        height: 0.8rem;
        margin-left: .8rem;
      }
    }
  }
  .quick-links-card{
    ion-col{
      a{
       text-decoration: none;
        @include transition(all 0.3s ease-in-out);
        display: block;
        ion-card{
          min-height: 90px;
          background-color:$white;
          margin: 0;
          border-radius: 0.5rem;
          -webkit-box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
          box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
         -webkit-box-orient: vertical;
         -webkit-box-direction: normal;
             -ms-flex-direction: column;
                 flex-direction: column;
         -webkit-box-pack: center;
             -ms-flex-pack: center;
                 justify-content: center;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
                 text-align:left;
          p{
            line-height: 1.2;
            margin-bottom: 0;
            color: $primary-color;
            font-size: .9rem;
          }
          &:hover{
            background-color:$alabaster;
          }
        }
        &:hover{
          text-decoration: none;
        }
      }
    }
    
   
  }
}

