<div class="col-sm-12 quick-links-container">
  <div class="row">
    <div class="col-sm-12 pl-0 pr-0">
      <div class="quick-links_title_all">
        <h5 class="quick-links_title">Quick links</h5>
        <a href="javascript:void(0)" class="quick-links_all">
          <span>See All</span>
          <img src="../../../../../assets/images/action-icons/icon_arrow_right.svg" alt="See All Icon">
        </a>
      </div>
    </div>
  </div>
  <div class="row quick-links_card">
    <div class="col-sm-12">

    </div>
  </div>
</div>

  
