<div class="row">
  <div class="col-sm-12">

    <div class="user-profile-main-container">
      <div class="user-profile-inner-container">
        <div class="user-profile">
          <div class="user-profile-image">
            <div class="user-profile-rounded">
              <img src="../../../../../assets/images/user-thumbnail/user.jpg" alt="Eugenie Photo">
            </div>
          </div>

          <div class="user-profile-info">
            <div class="user-profile-content">
              <h5 class="user-profile-name">Eugenie's phone</h5>
              <div class="user-number-package">
                <span class="user-number">0529439710</span>
                <span class="user-package">Freedom Postpaid</span>
              </div>
             </div>
          </div>
        </div>
      </div>
      <div class="switch-btn-container">
        <button type="button" class="btn btn-primary secondary-btn">switch</button>
      </div>
    </div>
    
  </div>
</div>
