@import '../../../../../assets/scss/base/variables';
.user-profile-main-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media screen and (max-width: 376px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .user-profile-inner-container{
      -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
      max-width: 66.666667%;
      @media screen and (max-width: 567px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
      }
      @media screen and (max-width: 376px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
      }
      .user-profile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        .user-profile-image {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 25%;
          flex: 0 0 25%;
          max-width: 25%;
          @media screen and (max-width: 567px) { 
            -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
            flex: 0 0 30%;
            max-width: 30%;
          }
          @media screen and (max-width: 376px) { 

          }
          .user-profile-rounded {
            overflow: hidden;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            position: $relative;
              @media screen and (max-width: 567px) { 
                width: 4.2rem;
                height: 4.2rem;
              }
              img {
                position: $absolute;
                top: 50%;
                right: 50%;
                margin: auto;
                -webkit-transform: translate(50%,-50%);
                -ms-transform: translate(50%,-50%);
                transform: translate(50%,-50%);
                max-width: 100%;
            }
          }
        }
        .user-profile-info{
          -webkit-box-flex: 0;
          -ms-flex: 0 0 75%;
          flex: 0 0 75%;
          max-width: 75%;
          font-family: $base-font;
          color:$secondary-color;
          @media screen and (max-width: 567px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 65%;
            flex: 0 0 65%;
            max-width: 65%;
          }
          @media screen and (max-width: 376px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 70%;
            flex: 0 0 70%;
            max-width: 70%;
          }
          .user-profile-content{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              .user-profile-name{
                font-family: $base-font;
                font-weight: 900;
                color: $primary-color;
                line-height: 1;
              }
            .user-number-package{
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              @media screen and (min-width: 768px) {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
              }
              .user-number,
              .user-package{
                display: block;
                line-height: 1.4;
              }
              .user-package{
                @media screen and (min-width: 768px) {
                  margin-left: 1.5rem;
                }
              }
            }
          }
        }
      }
    }
    .switch-btn-container {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
      @media screen and (max-width: 567px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 32%;
        flex: 0 0 32%;
        max-width: 32%;
      }
      @media screen and (max-width: 376px) {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
        margin-top: 1rem;
      }
      .btn{
        @media screen and (max-width: 376px) {
          width: 100%;
        }
      }
  }
}
