<ion-content>
  <ion-grid class="form-main-container">
    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12" class="rws-top-tabs-col">
        <ion-row>
          <ion-col sizeLg="4" sizeMd="12" sizeSm="12">
            <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
              <ion-segment-button value="1">
                <ion-label>{{ 'MESSAGES.INTERNET' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="2">
                <ion-label>{{ 'MESSAGES.TELEVISION' | translate }}</ion-label>
              </ion-segment-button>
              <ion-segment-button value="3">
                <ion-label>{{ 'MESSAGES.TELEPHONE' | translate }}</ion-label>
              </ion-segment-button>
            </ion-segment>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="12" sizeSM="12" class="rws-bottom-main-col">
        <div style="min-height: 500px" *ngIf="segment === '1'" class="animate__animated animate__slideInUp animate__fast">
          <app-service-detail [isPartialLoaded]="true" style="min-height: 500px"></app-service-detail>
        </div>
        <div style="min-height: 500px" *ngIf="segment === '2'" class="animate__animated animate__slideInUp animate__fast">
          <app-tv-detail [isPartialLoaded]="true"></app-tv-detail>
        </div>

        <div style="min-height: 500px" *ngIf="segment === '3'" class="animate__animated animate__slideInUp animate__fast">
          <app-phone-issues-problem-value-added [isPartialLoaded]="true"></app-phone-issues-problem-value-added>
        </div>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
