<ion-header class="header-wrapper">
  
  <ion-toolbar *ngIf="headerConfig.singleLine; else multiLine">
    <div class="header-inner">
      <a href="javascript:void(0)" class="back-to-page" *ngIf="headerConfig.showBackBtn" (click)="back()">
        <img src="../../assets/images/action-icons/icon_back.svg" width="24px" height="24px" alt="back to page" />
      </a>
      <div class="ion-text-center">
        <ion-title class="tex">{{ headerConfig.pageTitle | translate }}</ion-title>
      </div>
    </div>
  </ion-toolbar>

  <ng-template #multiLine>
    <div class="page-top-container">
      <ion-row class="page-top_back" *ngIf="headerConfig.pageTitle === ''">
        <div class="empty-header"></div>
      </ion-row>
      <ion-col size="12" class="pt-0 pb-0" *ngIf="headerConfig.showBackBtn">
        <a href="javascript:void(0)" class="back-to-page" (click)="back()">
          <img src="../../assets/images/action-icons/icon_back.svg" class="small-screen icon-back-arrow" width="24px" height="24px" alt="back to page" />
          <img src="../../assets/images/action-icons/icon_arrow_left.svg" class="lg-screen icon-left-arrow" alt="back to page" />
          <span>Back</span>
        </a>
      </ion-col>
    </div>
  </ng-template>
</ion-header>
