<mat-form-field>
    <!-- <mat-label>{{label}}</mat-label> -->
    <mat-select
        class="multi-col-select"
        [panelClass]="panelClass"
        [(ngModel)]="lookupValue"
        (focus)="onFocus(selected)"
        (selectionChange)="onLookupChange($event)"
        (openedChange)="onOpenChanged($event)"
    >
        <mat-option class="multi-col-select multi-select-header" disabled>
            <ng-container *ngFor="let col of columns">
                <div class="select-option" [style.width]="col.width" *ngIf="!col.isHidden">
                    <b>{{ col.fieldName }}</b>
                </div>
            </ng-container>
        </mat-option>
        <mat-option [value]="emptyOption" *ngIf="emptyOption">{{ emptyOption.name }}</mat-option>
        <div class="multi-select-body">
        <mat-option class="multi-col-select" *ngFor="let item of lookupData" [value]="item">
             <ng-container *ngIf="open; else notOpen">
                <ng-container *ngFor="let col of columns">
                    <div class="select-option" *ngIf="!col.isHidden" [style.width]="col.width">{{ item[col.fieldId] }}</div>
                </ng-container>
            </ng-container>
            <ng-template #notOpen>
              <div class="select-option" >{{ item[displayCol] }}</div>
            </ng-template>
        </mat-option>
        </div>
    </mat-select>
</mat-form-field>
