.select-option {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flex-1 {
  flex: 1 !important;
}

.w-100 {
  width: 100% !important;
}

.multi-select-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  //   color: rgba(225, 225, 225, 0.76);
  color: #243c98;
  z-index: 1;
}
