.nav-links {
  padding: 0;
  margin: 0;

  .menu-links {
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    padding: 9px 0px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
    text-align: center;

    //color: #223C7F;
    &.active {
      background-color: rgba(225, 225, 225, 0.76);
      border-left: 5px solid #243C98;
    }

    .module-name {
      white-space: nowrap;
      font-size: 11px;
      color: #243C98;
      display: flex;
      justify-content: center;
      //line-height: 27px;
    }
  }
}

.mat-drawer-container {
  z-index: 9;
}

.mat-drawer {
  top: 49px;
  color: #fff;
  width: 65px;
  visibility: visible !important;
  transform: none;
  transition: all ease-in-out 0.3s;
  background-color: #fff;
  border: 0;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.2) !important;

  &.mat-drawer-opened {
    width: 140px;

    .nav-links {
      .menu-links {
        flex-direction: row;
        padding: 15px;
        .module-name {
          width: auto;
          visibility: visible;
          white-space: nowrap;
          padding-left: 10px;
        }
      }
    }
  }
}

.mat-drawer-content {
  overflow: hidden;

  &.nav-opened {
    margin-left: 50px !important;
  }
}
