<mat-drawer-container class="example-container" [hasBackdrop]="false" style="height: 100%">
    <mat-drawer #drawer [opened]="opener" mode="side">
        <ul class="nav-links">
            <li>
                <a class="menu-links" matTooltip="New" matTooltipPosition="right">
                    <span class="icon-new"></span>
                    <span class="module-name">New</span>
                </a>
            </li>
            <li>
                <a class="menu-links" matTooltip="Open" (click)="onOpenClick()" matTooltipPosition="right">
                    <span class="icon-open"></span>
                    <span class="module-name">Open</span>
                </a>
            </li>

            <li>
                <a class="menu-links" matTooltip="Accounting" matTooltipPosition="right">
                    <span class="icon-accounting"></span>
                    <span class="module-name">Accounting</span>
                </a>
            </li>
            <li>
                <a class="menu-links" matTooltip="Cash" matTooltipPosition="right">
                    <span class="icon-cash"></span>
                    <span class="module-name">Cash</span>
                </a>
            </li>
            <li>
                <a class="menu-links" matTooltip="Claim" matTooltipPosition="right">
                    <span class="icon-claim"></span>
                    <span class="module-name">Claim</span>
                </a>
            </li>
            <li>
                <a class="menu-links" routerLink="/app/home" routerLinkActive="active" matTooltip="Submission" matTooltipPosition="right">
                    <span class="icon-submission"></span>
                    <span class="module-name">Submission</span>
                </a>
            </li>
            <li>
                <a class="menu-links" matTooltip="Underwriting" matTooltipPosition="right">
                    <span class="icon-undewriting"></span>
                    <span class="module-name">Underwriting</span>
                </a>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content [class.nav-opened]="opener">
        <div class="body-wrapper export-wrapper">
            <div>
                <h2 class="header-text">
                    {{ pageTitle }}
                </h2>
            </div>
            <!-- <app-breadcrumb></app-breadcrumb> -->
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>
