/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@charset "utf-8";

@import './assets/scss/base/variables';
@import './assets/scss/base/mixins';
@import './assets/scss/base/common';
@import './assets/scss/base/breadcrumbs';
@import './assets/scss/base/tabs';
@import './assets/scss/base/toolbar';
@import './assets/scss/base/grid';
@import './assets/scss/base/privilliges';
@import './assets/scss/base/popups';
@import './assets/scss/base/footer';
@import './assets/scss/base/style-icomoon';
@import './assets/scss/base/buttons';
@import './assets/scss/base/layout';
// @import'../src/assets/fonts/'
// --------------------------------------------------------------
:host {
  font-size: 1rem;
  --background-color: transparent;
  --ion-item-background: transparent;
  --ion-font-family: Lato, Roboto, Arial, sans-serif;
  --background-hover: $secondary-color;
  --background-focused: $primary-color;
  ion-content {
    --background: var(--ion-background-color, transparent);
  }
  ion-list {
    background: var(--ion-item-background, var(--ion-background-color, transparent));
    --ion-background-color: transparent;
  }
  .inline-ion-list {
    ion-item {
      --min-height: 30px;
    }
  }
  .segment-button-checked {
    color: #719e19;
    --indicator-color: transparent;
    --background-hover: $secondary-color;
    --background-focused: $primary-color;
    --color-checked: $primary-color;
    position: relative;
    &:after {
      content: '';
      display: block;
      background-color: $etisalat-color;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 0;
      width: 100%;
      height: 0.3rem;
      position: absolute;
      bottom: 0;
      @media screen and (min-width: 768px) {
        border-radius: 0;
      }
    }
  }
  ion-segment {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    ion-segment-button {
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
}
ion-radio.ios::part(mark) {
  -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
ion-radio.ios.radio-checked::part(mark) {
  transform: none;
  border: 0;
  background-color: $etisalat-color;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
ion-radio.radio-checked::part(mark) {
  width: 11px;
  height: 11px;
}
// --------------------------------------------------------------

/*------------------- Neotech Fonts Start -------------------*/
@font-face {
  font-family: Neotech-light;
  font-weight: 300;
  src: url('~/assets/fonts/neotech-light.woff') format('woff');
}
@font-face {
  font-family: Neotech-regular;
  font-weight: 400;
  src: url('~/assets/fonts/neotech-regular.woff') format('woff');
}
@font-face {
  font-family: Neotech-medium;
  font-weight: 700;
  src: url('~/assets/fonts/neotech-medium.woff') format('woff');
}
/*------------------- Neotech Fonts End -------------------*/
/*------------------- Neotech Fonts Start -------------------*/
@font-face {
  font-family: Lato;
  font-weight: 900;
  src: url('~/assets/fonts/Lato-Black.ttf') format('ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 700;
  src: url('~/assets/fonts/Lato-Bold.ttf') format('ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 300;
  src: url('~/assets/fonts/Lato-Light.ttf') format('ttf');
}
@font-face {
  font-family: Lato;
  font-weight: 400;
  src: url('~/assets/fonts/Lato-Regular.ttf') format('ttf');
}
/*------------------- Neotech Fonts End -------------------*/
* {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  height: 100vh;
}

body {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  margin: 0;
  font-family: Lato, Roboto, Arial, sans-serif;
  color: $secondary-color;
  font-size: 1rem;
}

// ------------Removed Ionic Button Styling start-------------------
ion-button {
  --background: transparent;
  --border-radius: 0;
  --box-shadow: none;
  --padding-top: 0;
  --padding-bottom: 0;
}
ion-button::part(native) {
  background-color: transparent;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
  --background-hover-opacity: 0;
}
// ------------Removed Ionic Button Styling End-------------------

// ------------Title Styling Start-------------------
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: $primary-color;
}
h1 {
  font-size: 2.1875rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.53125rem;
}
h4 {
  font-size: 1.3125rem;
}
h5 {
  font-size: 1.09375rem;
}
h6 {
  font-size: 0.875rem;
}
p {
  color: $secondary-color;
}
// ------------Title Styling End-------------------
.page-top_title {
  h2 {
    font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
    font-size: 1.8rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 50px;
    text-transform: capitalize;
  }
}
.sub-title {
  font-family: Lato, Roboto, Arial, sans-serif;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.14285714em;
  @-moz-document url-prefix() {
    font-weight: 500;
  }
}
// ------------Help classes Styling Start-------------------
.full-width {
  width: 100%;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.green-box-shadow {
  -webkit-box-shadow: 0 5px 10px rgb(95 136 15 / 57%);
  box-shadow: 0 5px 10px rgb(95 136 15 / 57%);
}
.mt-1 {
  margin-top: 1rem;
}
.mt-5 {
  margin-top: 5rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.letter-space-none {
  letter-spacing: 0;
}

.text-error {
  color: $error-color;
}
.field-error {
  border-bottom-color: $error-color;
}
// ------------Help classes Styling End-------------------

// ------------Box Shadow Start-------------------
.shadow-box,
ion-card {
  border-radius: 0.5rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
  box-shadow: 0 5px 10px rgb(25 0 0 / 16%);
}
// ------------Box Shadow End-------------------

// ------------Checkbox Start-------------------
ion-checkbox {
  margin-right: 0;
  margin-left: 0;
  @media screen and (max-width: 992px) {
    width: 1.1rem;
    height: 1.1rem;
  }
  --background: $white;
  --border-radius: 50%;
  --border-color: #719e19;
  --border-style: solid;
  --checkmark-color: #ffffff;
  --background-checked: #719e19;
  --border-color-checked: #719e19;
}
// ------------Checkbox End-------------------

// ------------Radio Button Start-----------------
ion-radio {
  --color: #719e19;
  --color-checked: #719e19;
  margin-top: 0.5rem;
  margin-right: 1.2rem;
  margin-left: 0;
}
ion-radio::part(container) {
  margin: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #719e19;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}
// ------------Radio Button End-------------------

// ------------IOS Header Start-------------------
.header-ios {
  ion-toolbar {
    &:last-of-type {
      --border-width: 0;
    }
  }
}
// ------------IOS Header End-------------------

// ------------Modal Start-------------------
ion-modal,
.sc-ion-modal-md-h,
.sc-ion-modal-ios-h {
  --border-radius: 1rem;
  --width: 100%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  @media screen and (max-width: 767px) {
    --height: 70%;
    --border-radius: 0;
  }
  @media screen and (max-width: 281px) {
    --height: 100%;
  }
}
// ------------Modal End-------------------

// ------------Bullet List Start-------------------
.bullet-list {
  .item {
    ion-label {
      position: relative;
      display: block;
      margin-bottom: 0;
      padding-left: 1rem;
      white-space: normal;
      /* @media screen and (max-width: 767px) {
        white-space:normal;
      } */
      &:before {
        content: '';
        position: absolute;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        transform: translateY(100%);
        top: 0;
        left: 0;
        width: 0.4rem;
        height: 0.4rem;
        background-color: #848789;
        border-radius: 50%;
      }
    }
  }
}
// ------------Bullet List End-------------------

// ------------Inline List Start-------------------
.inline-ion-list-border {
  border-top: 2px dashed #d0d6da;
  border-bottom: 2px dashed #d0d6da;
}
.inline-ion-list {
  ion-item {
    @media screen and (max-width: 321px) {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    ion-label {
      font-size: 0.9rem;
      margin-top: 0;
      margin-bottom: 0;
    }
    .inline-list_title {
      color: $secondary-color;
    }
    .inline-list_value {
      color: $primary-color;
      font-weight: 600;
      text-align: right;
      margin-right: 0;
    }
  }
}
.ion-list-capital {
  ion-item {
    ion-label {
      color: $primary-color;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}
// ------------Inline List End-------------------
.ion-list-arrow {
  ion-item {
    cursor: pointer;
  }
}
.quick-links_all,
.arrow-link,
.arrow-btn,
.__clickhere {
  @include transition(all 0.3s ease-in-out);
}
.__clickhere {
  color: $etisalat-color;
  display: inline-block;
  &:hover {
    text-decoration: underline;
    color: $primary-color;
  }
  &:focus,
  &:active {
    text-decoration: none;
    color: $primary-color;
  }
}
.quick-links_all,
.arrow-link,
.arrow-btn {
  color: $etisalat-color;
  text-transform: $text-uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.14285714em;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $primary-color;
  }
  &:focus,
  &:active {
    text-decoration: none;
    color: $primary-color;
  }
  span,
  img {
    display: block;
  }
  img {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.8rem;
    @media screen and (max-width: 992px) {
      margin-left: 0.25rem;
    }
  }
}
.tag-title {
  color: $primary-color;
  font-weight: 600;
}
html {
  --background: var(--ion-background-color, #f4f7eb);
  background-color: #f4f7eb;
  background-image: -webkit-linear-gradient(top, #ffffff 15%, #f4f7eb 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: -moz-linear-gradient(top, #ffffff 15%, #f4f7eb 100%); /* FF3.6-15 */
  background-image: linear-gradient(to bottom, #ffffff 15%, #f4f7eb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f7eb',GradientType=0 ); /* IE6-9 */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0;
  padding-left: 0;
  ion-content {
    position: relative;
    z-index: 10;
    --background: var(--ion-background-color, transparent);
  }
  .list-ios,
  .list-md {
    --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  }
  .body-wrapper {
    background-color: transparent;
  }
  .header-wrapper-wave {
    background: transparent url(~/assets/images/wave_graphic_bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 134px;
    height: 138px;
    position: $absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
}
.page-title {
  margin-bottom: 2rem;
  @media screen and (max-width: 992px) {
    margin-bottom: 0;
  }
}
.transparent-btn {
  a {
    display: inline-block;
    text-decoration: none;
    color: $etisalat-color;
    text-transform: $text-uppercase;
    letter-spacing: 0.14285714em;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @include transition(all 0.3s ease-in-out);
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      color: $primary-color;
    }
    @media screen and (max-width: 320px) {
      font-size: 0.9rem;
    }
  }
}
.two-col-container,
.two-col_inner_container {
  height: 100%;
  @media screen and (max-width: 992px) {
    height: auto;
  }
}
.two-col_left {
  background-color: $white;
  @media screen and (max-width: 992px) {
    background-color: transparent;
  }
}
.two-col_right {
  @media screen and (max-width: 992px) {
    border-top: 1px solid #ededed;
    padding-top: 0;
  }
  .content {
    width: 450px;
    margin: 0 auto;
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}
ion-grid {
  width: 100%;
  padding-bottom: 0;
}
app-diagnose-issue,
motive-message,
app-device-care,
app-service-detail,
app-book-complaint,
app-restart-instruction,
app-motive-message-bullet,
app-motive-message-feedback,
app-reset-pin,
app-package-available,
app-reset-router-password,
app-unable-to-connect,
app-phone-issues-problem-value-added,
.no-issue-segment-tabs > ion-col,
app-service-detail,
app-tv-detail,
app-phone-issues-problem-value-added,
app-transfer-package,
app-ccb-pin-reset-form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.lg-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  @media screen and (max-width: 992px) {
    display: none;
  }
}
.sm-screen {
  display: none;
  @media screen and (max-width: 992px) {
    display: block;
  }
}
app-header-multi-line {
  display: block;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
app-header-single-line {
  display: block;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.footer {
  -webkit-box-shadow: 0px 0px 11px -2px rgb(0 0 0 / 8%);
  box-shadow: 0px 0px 11px -2px rgb(0 0 0 / 8%);
  background-color: $white;
  @media screen and (max-width: 992px) {
    box-shadow: none;
    background-color: transparent;
  }
  .footer-btns-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    @media screen and (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    ion-col {
      text-align: center;
    }
    ion-row {
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        width: 100%;
      }
    }
    ion-col {
      &:first-child {
        ion-col {
          /* -webkit-box-flex: 0 !important;
          -ms-flex: 0 0 100% !important;
          flex: 0 0 100% !important;
          max-width: 100% !important;
          width: 100% !important; */
        }
      }
      motive-button {
        @media screen and (min-width: 769px) and (max-width: 1024px) {
          min-width: 100%;
          width: 100%;
        }
      }
    }
    > ion-col {
      &:last-child {
        @media screen and (min-width: 769px) and (max-width: 1024px) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
motive-button {
  display: inline-block;
  width: 100%;
  @media screen and (min-width: 992px) {
    min-width: 250px;
    width: auto;
    height: 100%;
  }
}
