.trc-confirm-box {
    text-align: center;
}


.flex-1 {
    flex:1;
}

.mw-90 {
   max-width:90%;
}

.ag-header {
    /* background-color: #eee !important;
    border-bottom-width: 0px !important; */
}

.trc-confirm-box .mat-icon {
    font-size: 65px;
    color: gray;
    opacity: 0.5;
    margin-bottom: 10px;
    width: 65px;
    height: 55px;
}
.trc-confirm-box .title {
    font-size: 18px;
    margin-bottom: 5px;
}
.trc-confirm-box .trc-confirm-box-actions-warn {
    background: #223C7F;
    color: white;
}
.trc-confirm-box .trc-confirm-box-actions-warn:hover {
    background: #112866;
}
/**TRC Grid Toolbar---------*/
.trc-grid-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0px 10px 0px 0px;
    background: white;
    border-bottom: solid 1px lightgray;
}
.trc-grid-toolbar .trc-grid-search {
    margin-top: -5px;
    margin-bottom: -10px;
}
.trc-grid-toolbar .mat-toolbar {
    background: none;
}
.trc-confirm-box-actions-cancel {
    background-color: #e5e4e4;
}
.trc-confirm-box-actions-cancel:hover {
    background-color: #ccc;
}
.mat-dialog-container {
    /* display: flex !important; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/**------------------------**/
/**TRC Grid Error Tooltip---------*/

.grid-cell-error {
    /* background: pink; */
    border: solid 1px red !important;
    cursor: pointer;
    border-radius: 2px;
}
.grid-cell-error::before {
    content: '!';
    font-weight: bold;
    font-size:22px;
    color: red;
    cursor: pointer;
    float: right;
}
/**------------------------**/

.trc-confirm-box trc-confirm-box-content > p{
  margin:10px;
}
