<ion-content>
  <ion-grid class="form-main-container">
    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
          <ion-segment-button value="1">
            <ion-label>{{ 'SUBHEADER.RESET_WIFI_PASSWORD_TAB1' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>{{ 'SUBHEADER.RESET_WIFI_PASSWORD_TAB2' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="routerSettingsForm" (ngSubmit)="SubmitForm()">
          <div formGroupName="tab1" *ngIf="segment === '1'" class="animate__animated animate__slideInUp animate__fast">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.WIFI_NAME' | translate }}</ion-label>
                  <ion-input formControlName="WifiName" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.NEW_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="NewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.CONFIRM_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="ConfirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.MOBILE_NUMBER' | translate }}</ion-label>
                  <ion-input
                    type="text"
                    [brmasker]="{ form: routerSettingsForm.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="MobileNo"
                  ></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <p class="tag-title">{{ 'TEXT.PASSWORD_STRENGTH' | translate }}</p>

                <ion-list class="check-list">
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.Minimum_8_Characters' | translate }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.CONTAIN_AT_LEAST_1_NUMERIC_CHARCTER' | translate }} </ion-label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.CONTAIN_AT_LEAST_1_SPECIAL_CHARCTER' | translate }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
          <div formGroupName="tab2" *ngIf="segment === '2'" class="animate__animated animate__slideInUp animate__fast">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.WIFI_NAME' | translate }}</ion-label>
                  <ion-input formControlName="WifiName" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.NEW_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="NewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.CONFIRM_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="ConfirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.MOBILE_NUMBER' | translate }}</ion-label>
                  <ion-input
                    type="text"
                    [brmasker]="{ form: routerSettingsForm.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="MobileNo"
                  ></ion-input>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <p class="tag-title">{{ 'TEXT.PASSWORD_STRENGTH' | translate }}</p>

                <ion-list class="check-list">
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.Minimum_8_Characters' | translate }}</ion-label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.CONTAIN_AT_LEAST_1_NUMERIC_CHARCTER' | translate }} </ion-label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <ion-label>{{ 'TEXT.CONTAIN_AT_LEAST_1_SPECIAL_CHARCTER' | translate }}</ion-label>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </div>
          <ion-row>
            <ion-col size="12">
              <div class="agree-terms">
                <ion-item>
                  <ion-checkbox formControlName="terms" color="primary" checked="terms" slot="start"></ion-checkbox>
                  <ion-label
                    >I agree to
                    <a href="javascript:void(0)" class="back-to-page" (click)="PopupTermsConditions()">
                      <span>Terms & Conditions</span>
                    </a>
                  </ion-label>
                </ion-item>
              </div>
            </ion-col>
            <ion-col sizeLg="12" sizeMd="12" size="12">
              <ion-button class="btn primary-btn close full-width" [disabled]="!routerSettingsForm.valid" (click)="SubmitForm()">Next</ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
