<ion-content>
  <ion-grid class="form-main-container">
    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
          <ion-segment-button value="1">
            <ion-label>{{ 'SUBHEADER.RESET_WIFI_PASSWORD_TAB1' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>{{ 'SUBHEADER.RESET_WIFI_PASSWORD_TAB2' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-grid class="pr-0 pl-0">
            <ion-row>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.WIFI_NAME' | translate }}</ion-label>
                  <ion-input formControlName="WifiName" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.NEW_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="NewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'NewPassword') && f.NewPassword.touched">
                    {{ error.password }}
                  </div>
                </ion-item>
              </ion-col>
              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.CONFIRM_PASSWORD' | translate }}</ion-label>
                  <ion-input formControlName="ConfirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'ConfirmPassword') && f.ConfirmPassword.touched">
                    {{ error.password }}
                  </div>

                  <div *ngIf="f.ConfirmPassword.touched && f.ConfirmPassword.errors.confirmedValidator">{{ error.passwordandConfirm }}</div>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_WIFI_PASSWORD.MOBILE_NUMBER' | translate }}</ion-label>

                  <ion-input
                    type="text"
                    [brmasker]="{ form: formGroup.get('mask'), mask: '+000000000000', type: 'num', len: 14 }"
                    placeholder="+971xxxxxxxxx"
                    formControlName="MobileNo"
                    [ngClass]="{ 'is-invalid': f.MobileNo.errors && f.MobileNo.errors.pattern }"
                  ></ion-input>

                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'MobileNo') && f.MobileNo.touched">
                    {{ error.phoneNumber }}
                  </div>
                </ion-item>
              </ion-col>

              <ion-col size="12">
                <p class="tag-title">Password strength:</p>
                <div>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <label>Minimum 8 characters</label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <label>Contain at least 1 numeric character </label>
                  </ion-item>
                  <ion-item>
                    <img src="/assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                    <label>Contain at least 1 special character</label>
                  </ion-item>
                </div>
              </ion-col>

              <ion-col size="12">
                <div class="agree-terms">
                  <ion-item>
                    <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
                    <ion-label
                      >I agree to
                      <a href="javascript:void(0)" class="back-to-page" (click)="PopupTermsConditions()">
                        <span>Terms & Conditions</span>
                      </a>
                    </ion-label>
                  </ion-item>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button class="btn primary-btn close full-width" [disabled]="!formGroup.valid" (click)="SubmitForm()">Next</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
