<div class="open-modal-header">
    <div class="p-2 open-modal">
        <h2 mat-dialog-title>
            Counterparty Search - {{ searchTitle }}
            <button class="close-btn-icon" [mat-dialog-close]="true">
                <i class="icon-reset_toolar"></i> 
           </button>
        </h2>
        <mat-dialog-content>
            <ng-container *ngIf="glTypeCode; else loaderDiv">
                <app-search-grid
                    [searchLabel]="searchTitle"
                    [rowData]="[]"
                    [pageSize]="pageSize"
                    [totalPages]="totalPages"
                    [colDef]="colDef"
                    [searchText]="searchText"
                    [getNextPageData]="nextPageData"
                    (searchTextChange)="onSearchTextChange($event)"
                    (selectedRow)="onRowSelection($event)"
                    (rowDoubleClicked)="onRowDoubleClicked($event)"
                ></app-search-grid>
            </ng-container>
            <ng-template #loaderDiv>
                <div style="height: calc(100vh - 350px)">
                    <div class="loader">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template>
        </mat-dialog-content>
        <div class="counter-party-popup-btns">
            <mat-dialog-actions>
                <div>
                    <button class="mat-raised-button open-dialog-btn mat-primary" (click)="onOKClick()">OK</button>
                    <button class="mat-raised-button open-dialog-btn popup-cancel-btn" (click)="onCancelClick()">Cancel</button>
                </div>
            </mat-dialog-actions>
        </div>
    </div>
</div>
