<ion-content>
  <ion-grid class="device-detail-container">
    <ion-row>
      <ion-col size="12">
        <app-page-top></app-page-top>
      </ion-col>
    </ion-row>

    <ion-row class="device-detail-inner_container">
      <!-- Router Image Start -->
      <ion-col sizeLg="6" sizeMd="12" size="12" class="device pt-0 pb-0">
        <picture>
          <source [srcset]="ImgSrc" media="(max-width: 414px)" />
          <source [srcset]="ImgSrc" media="(max-width: 768px)" />
          <source [srcset]="ImgSrc" media="(max-width: 1024px)" />
          <source [srcset]="ImgSrc" media="(max-width: 1366px)" />
          <source [srcset]="ImgSrc" media="(max-width: 1440px)" />
          <source [srcset]="ImgSrc" media="(max-width: 1920px)" />
          <img [src]="ImgSrc" class="cover lazyloaded" alt="" />
        </picture>
      </ion-col>
      <!-- Router Image End -->

      <!-- Router Instruction Start -->
      <ion-col sizeLg="6" sizeMd="12" size="12" class="instruction-container pt-0 pb-0">
        <div class="instruction">
          <ion-row class="instruction_steps">
            <ion-col size="12" class="pb-0">
              <p class="tag-title">{{ instruction1.title | translate }}</p>
              <ion-list *ngFor="let ins of instruction1.steps; let i = index">
                <ion-item>
                  <ion-label>{{ i + 1 }}. {{ ins | translate }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row class="instruction_view" *ngIf="instruction2">
            <ion-col size="12">
              <ion-item-divider>
                <ion-label>
                  <span>{{ 'INSTRUCTIONS_STEPS.OR' | translate }}</span>
                </ion-label>
              </ion-item-divider>
              <p class="tag-title">{{ instruction2.title | translate }}</p>
              <p>{{ instruction2.body | translate }}</p>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <!-- Router Instruction End -->
    </ion-row>
  </ion-grid>
</ion-content>
<!-- Buttons -->
<ion-footer>
  <ion-toolbar>
    <ion-row class="footer-btns-container">
      <ion-col sizeLg="6" sizeMd="6" size="12" class="pt-0 pb-0">
        <motive-button
          *ngIf="button1"
          [type]="button1.type"
          [title]="button1.title"
          [explanatoryNote]="button1.explanatoryNote"
          [SM]="button1.SM"
          [MD]="button1.MD"
          [LG]="button1.LG"
          (click)="button1Listener()"
        ></motive-button>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" size="12" class="pt-0 pb-0">
        <motive-button
          *ngIf="button2"
          [type]="button2.type"
          [title]="button2.title"
          [explanatoryNote]="button2.explanatoryNote"
          [SM]="button2.SM"
          [MD]="button2.MD"
          [LG]="button2.LG"
          (click)="button2Listener()"
        ></motive-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- Buttons -->
