<ion-row>
  <ion-col size="12" class="pt-0 pb-0">
    <div class="user-profile-main-container">
      <div class="user-profile-inner_container">
        <div class="user-profile">
          <!--User Image Start -->
          <div class="user-profile_image">
            <div class="user-profile_rounded">
              <img src="assets/images/user-placeholder-3.svg" alt="user" />
            </div>
          </div>
          <!--User Image End -->

          <!--User Info Start -->
          <div class="user-profile-info">
            <div class="user-profile_content">
              <h5 class="user-profile_name">{{ user?.username }}</h5>
              <div class="user-number_package">
                <span class="user-number">{{ user?.accountId }}</span>
                <span class="user-package">Freedom Postpaid 500</span>
              </div>
            </div>
          </div>
          <!--User Info End -->
        </div>
      </div>

      <!--User Swtich Button Start -->
      <!-- <div class="switch-container">
        <ion-button class="btn secondary-btn">{{ 'MESSAGES.SWITCH' | translate }}</ion-button>
        <ion-select interface="popover" value="">
          <ion-select-option value="">Brown</ion-select-option>
          <ion-select-option value="">Blonde</ion-select-option>
          <ion-select-option value="">Black</ion-select-option>
        </ion-select>
      </div> -->
      <!--User Swtich Button End -->
    </div>
  </ion-col>
</ion-row>
