<!-- <ion-content *ngIf="shouldShow"></ion-content> -->
<ion-content *ngIf="shouldShow">
  <span class="header-wrapper-wave"></span>
  <div class="loader-main-container">
    <ion-grid class="info-container">
      <ion-row>
        <ion-col size="12">
          <div class="loader-container">
            <ng-lottie [options]="optionsLoader"></ng-lottie>
            <span class="loader_count">{{ percentageLoaded }}%</span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="content">
        <ion-col size="12">
          <h4>{{ 'HEADER.ALMOST_THERE' | translate }}</h4>


          <div class="content_detail">
            <P>
             {{ 'MESSAGES.PLEASE_WAIT_WHILE_OUR_AUTOMATED_SYSTEM_IS_DIAGNOSING_THE_SERVICE' | translate }}
            </P>
          </div>

          <div class="content_detail" *ngFor="let message of messages; first as isFirst; last as isLast">
            <P>
              {{ message | translate }}
              <img *ngIf="!isFirst && !isLast" src="assets/images/tick.png" class="small-screen icon-back-arrow" alt="tick image" />
            </P>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
