
@import 'src/assets/scss/base/variables';
@import 'src/assets/scss/base/mixins';

// --------------------------------------------------------------
:host {
   --ion-font-family:Lato,Roboto,Arial,sans-serif;
}
// --------------------------------------------------------------
.loader-main-container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(244 247 235 / 66%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, rgb(255 255 255 / 66%)), to(#f4f7eb99));
  background-image: -o-linear-gradient(top, rgb(255 255 255 / 66%) 15%, #f4f7eb99 100%);
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 66%) 15%, #f4f7eb99 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  h4 {
    font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
    text-align: center;
  }
  .loader-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-top: 2rem;
    ng-lottie {
      width:218px;
    }
    .loader_count{
      color:#606060;
      display: inline-block;
      font-weight: 800;
      font-size: 1.5rem;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
    }
  }
}
