@import 'src/assets/scss/base/mixins';
@import 'src/assets/scss/base/variables';

/* --------------------------------------------------------------*/
:host {
  --ion-font-family: Lato, Roboto, Arial, sans-serif;
  ion-list {
    --ion-background-color: transparent;
    padding-bottom: 0;
  }
  .segment-button-checked {
    color: #719e19;
    --indicator-color: transparent; 
    --background-hover: $secondary-color;
    --background-focused: $primary-color;
    --color-checked: $primary-color;
    position: relative;
    &:after{
      content: "";
      display: block;
      background-color:$etisalat-color;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 0;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 0;
      width: 100%;
      height: .3rem;  
      position: absolute;
      bottom: 0; 
      @media screen and (min-width: 768px) {
        border-radius: 0;
      }
    }
  }
  ion-checkbox {
    margin-right: 0;
    margin-left: 0;
    @media screen and (max-width: 992px) {
      width: 1.1rem;
      height: 1.1rem;
    }
    --background: $white;
    --border-radius: 50%;
    --border-color: #719e19;
    --border-style: solid;
    --checkmark-color: #ffffff;
    --background-checked: #719e19;
    --border-color-checked: #719e19;
    --background-hover: #719e19;
  }
  ion-icon {
    color: $primary-color;
  }
  
  ion-segment {
    background: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative;
    z-index: 1;
    ion-segment-button {
      color: $secondary-color;
      text-transform: uppercase;
    }
  }
  ion-input{
    --padding-end:1.7rem;
  }
}
ion-item::part(native) {
  --background: var(--ion-item-background, transparent), var(--ion-background-color, transparent);
  padding-inline-end: 0;
  --inner-padding-end: 0;
  padding-inline-start: 0;
}
/* --------------------------------------------------------------*/

.agree-terms {
  ion-label {
    margin: 10px 0 10px 5px;
  }
}

.form-main-container {
  font-family: Lato, Roboto, Arial, sans-serif;
  .form-inner_container {
    ion-item {
      margin-bottom: 1rem;
    }
   
    /*  @media screen and (max-width: 992px)  {
      ion-item{
        margin-bottom: 1rem;
      }
    } */
    /* .rws-top-tabs-col {
      border-bottom: 1px solid $border-color;
      padding: 5px 0 0 0;
      ion-col:first-of-type {
        padding-bottom: 0;
        padding-top: 10px;
        @media screen and (max-width: 767px) {
          padding-top: 5px;
        }
      }
    }
    .rws-bottom-main-col {
      padding-top: 43px;
      @media screen and (max-width: 767px) {
        padding-top: 23px;
      }
    } */
    .segment-tabs{
      position: relative;
      margin-bottom: 1.5rem;
      &:after{
        content: "";
        display: block;
        width: 100%;
        height: .1rem;
        background-color:$border-color;
        position:absolute;
        bottom: 2px;
        @media screen and (max-width: 767px) {
          bottom:0;
        }
      }
    }
    form {
      ion-item {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: end;
        ion-label {
          color: $secondary-color;
          font-size: 1rem;
          -webkit-transform: scale(0.9);
          -ms-transform: scale(0.9);
          transform: scale(0.9);
          @media screen and (max-width: 1024px) {
            transform: inherit;
          }
        }
        ion-icon {
          margin-right: 0;
        }
        
      }
      .check-list {
        padding-top: 0;
        ion-item {
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          --min-height: auto;
          --border-width: 0;
          --inner-border-width: 0;
          img {
            display: inline-block;
            height: 1.4rem;
          }
          ion-label {
            transform: none;
            margin-top: 0;
            margin-left: 0.8rem;
            margin-bottom: 0;
          }
        }
      }
      .agree-terms {
        @media screen and (max-width: 992px) {
          margin-bottom: 1rem;
        }
        ion-item {
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          --min-height: auto;
          margin-bottom: 0;
          --border-style: none;
          ion-label {
            transform: none;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0.8rem;
            margin-bottom: 0;
            a {
              color: $etisalat-color;
              display: inline-block;
              @include transition(all 0.3s ease-in-out);
              &:hover {
                color: $primary-color;
                text-decoration: none;
              }
            }
          }
        }
      }
      .full-width {
        width: 100%;
      }
    }
    .show-icon {
      position: absolute;
      bottom: .5rem;
      cursor: pointer;
      z-index: 2;
    }
  }
}


.native-input{
  padding-right: 1.7rem;
}
/* .footer{
  .footer-btns-container {
    ion-col{
      &:first-child {
        ion-col {
          text-align: center;
        }
      }
      
    }
  }
}  */