<app-header-multi-line [headerConfig]="headerConfig"></app-header-multi-line>
<app-header-single-line [headerConfig]="headerConfig"></app-header-single-line>
<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row class="page-title web-title">
      <ion-col class="pt-0 pb-0">
        <app-page-top [headerTitle]="headerConfig.pageTitle"></app-page-top>
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container animate__animated animate__slideInUp animate__fast">
      <ion-col sizeLg="5" sizeMd="6" size="12">
        <form [formGroup]="formGroup">
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.NEW_CCB_PIN' | translate }}</ion-label>
                <ion-input formControlName="NewPassword" #NewPassword type="password" clearOnEdit="false" class="password-field"></ion-input>
                <img
                  [src]="NewPassword.type === 'password' ? passwordHideIcon : passwordShowIcon"
                  (click)="hideShowPassword(NewPassword)"
                  class="show-icon"
                  alt="show password"
                />
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'NewPassword') && f.NewPassword.touched">
                {{ error.password }}
              </div>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">{{ 'MESSAGES.ENTER_NEW_NUMBER_AGAIN' | translate }}</ion-label>
                <ion-input formControlName="ConfirmPassword" #ConfirmPassword type="password" clearOnEdit="false" class="password-field"></ion-input>
                <img
                  [src]="ConfirmPassword.type === 'password' ? passwordHideIcon : passwordShowIcon"
                  (click)="hideShowPassword(ConfirmPassword)"
                  class="show-icon"
                  alt="show password"
                />
                
              </ion-item>
              <div class="text-error" *ngIf="formGroup.hasError('pattern', 'ConfirmPassword') && f.ConfirmPassword.touched">
                {{ error.password }}
              </div>
            </ion-col>
          </ion-row>
          <ion-row  class="check-list-container">
            <ion-col size="12" *ngIf="rulesList?.length > 0">
              <p class="tag-title">{{ 'MESSAGES.CCB_PIN_RULES' | translate }}:</p>
              <ion-list class="check-list">
                <ion-item *ngFor="let rule of rulesList">
                  <img src="./assets/images/indicators-icons/icon_check.svg" alt="" /> &nbsp;
                  <ion-label>{{ rule }}</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
         
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>

<div class="footer">
  <ion-row class="footer-btns-container">
    <ion-col sizeLg="12" sizeMd="12" size="12" class="pt-0 pb-0">
      <ion-row>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button1"
            [type]="button1.type"
            [title]="button1.title"
            [explanatoryNote]="button1.explanatoryNote"
            [SM]="button1.SM"
            [MD]="button1.MD"
            [LG]="button1.LG"
            (click)="button1Listener()"
          ></motive-button>
        </ion-col>
        <ion-col sizeLg="6" sizeMd="12" size="12" class="ion-no-padding">
          <motive-button
            *ngIf="button2"
            [type]="button2.type"
            [title]="button2.title"
            [explanatoryNote]="button2.explanatoryNote"
            [SM]="button2.SM"
            [MD]="button2.MD"
            [LG]="button2.LG"
            (click)="button2Listener()"
          ></motive-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>
