<ion-content>
  <ion-grid class="form-main-container">
    <!-- Page Title and Sub Title Start -->
    <ion-row>
      <ion-col size="12">
        <!-- <p class="sub-title">{{ 'SUBHEADER.RESET_CCB_PIN' | translate }}</p> -->
      </ion-col>
    </ion-row>
    <!-- Page Title and Sub Title End -->

    <!-- Form Start -->
    <ion-row class="form-inner_container">
      <ion-col size="12">
        <form [formGroup]="formGroup" (ngSubmit)="SubmitForm()">
          <ion-grid class="pr-0 pl-0">
            <ion-row>
              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_CCB_PIN.NEW_CCB_PIN' | translate }}</ion-label>
                  <ion-input formControlName="NewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>

                  <!-- <button type="button" (click)="hideShowPassword()">Click to show</button> -->
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'NewPassword') && f.NewPassword.touched">
                    {{ error.password }}
                  </div>
                </ion-item>
              </ion-col>
              <ion-col sizeLg="6" sizeMd="12" sizeSm="12" size="12">
                <ion-item>
                  <ion-label position="stacked">{{ 'RESET_CCB_PIN.NEW_CCB_PIN_AGAIN' | translate }}</ion-label>
                  <ion-input formControlName="ConfirmPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
                  <div style="color: red; padding-top: 0.2rem" *ngIf="formGroup.hasError('pattern', 'ConfirmPassword') && f.ConfirmPassword.touched">
                    {{ error.password }}
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="case == 1">
              <ion-col sizeLg="2" sizeMd="3" sizeSm="12" size="12">
                <ion-button class="btn primary-btn close full-width" [disabled]="!formGroup.valid" (click)="SubmitForm()">{{ 'BUTTONS.NEXT' | translate }}</ion-button>
              </ion-col>
            </ion-row>

            <!-- Reset Telephone Case Buttons -->
            <motive-button *ngIf="case == 2" [title]="'BUTTONS.CONTINUE'" [type]="'primary'" (clickHandler)="SubmitForm()"></motive-button>
            <motive-button *ngIf="case == 2" [title]="'BUTTONS.BACK'" [type]="'link'" (clickHandler)="onBackClick()"></motive-button>
            <!-- Reset Telephone Case Buttons -->
          </ion-grid>
        </form>
      </ion-col>
    </ion-row>
    <!-- Form End -->
  </ion-grid>
</ion-content>
