<!-- Quick Links Start -->
<ion-content>
  <div class="quick-links-container">
    <!-- Page Title Start -->
    <ion-row>
      <ion-col size="12">
        <app-page-top></app-page-top>
      </ion-col>
    </ion-row>
    <!-- Page Title End -->

    <!-- Quick Links Slider Start -->
    <ion-row class="quick-links-card">
      <ion-col size="12" class="pt-0 pb-0" *ngFor="let link of quickLinks">
        <span (click)="onCardClick(link)">
          <ion-card>
            <ion-card-content>
              <p>{{ link.body | translate }}</p>
            </ion-card-content>
          </ion-card>
        </span>
      </ion-col>
    </ion-row>
    <!-- Quick Links Slider End -->
  </div>
</ion-content>
