@import '/src/assets/scss/base/variables';
@import '/src/assets/scss/base/mixins';

/*-------------------------------------------------*/
:host {
  --ion-font-family:Lato,Roboto,Arial,sans-serif;
  ion-buttons{
    --min-height:auto;
  }
  ion-header{
    ion-toolbar{
      border-bottom: 2px dashed #d0d6da;
      ion-title{
        padding-right:0;
        padding-left: 0;
        h5{
          font-family: Neotech-regular, GE SS Two, Roboto, Arial, sans-serif;
          color:$primary-color;
          @media screen and (max-width: 281px) {
            font-size: 1rem;
          }
        }
      }
    ion-buttons{
      margin-inline-end:0;
      margin-right:0;
      --padding-end: 0;
      padding-right: 0;
      padding-right: 0;
      ion-button{
        margin-inline-start:0;
        margin-inline-end:0;
        height: auto;
        @media screen and (max-width: 281px) {
          font-size: .8rem;
        }
       }
     }
    }
  }
}
ion-item::part(native){
  /* padding-inline-end: .8rem;  */
  --inner-padding-end: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  --padding-start:1rem;
  --border-color:#ededed;
}
.header-ios {
	ion-toolbar {
    ion-title{
      h5{
        text-align: left;
      }
    }
	}
}
/*-------------------------------------------------*/
.game-session-dialog-container{
  .__title-wrapper{
      h2{
        font-size: 1.2rem;
        margin-top: 14px;
      }
  }
  .__desc-wrapper{
    margin: 24px 0 30px 0;
    p{
      margin: 16px 0;
      &:first-of-type{
        margin-top: 18px;
      }
    }
  }
  .button-wrapper{
    ion-button{
      width: 100%;
    }
  }
}