<!-- <input type="date" class='trc-grid-datepicker-editor' id="datePicker" name="datePicker" [(ngModel)]="cellValue"> -->
 <mat-form-field appearance="fill" style="width:99%">

    <input matInput [matDatepicker]="picker" autocomplete="off" [(ngModel)]="cellValue">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker ></mat-datepicker>
  </mat-form-field>
<!--
  <mat-form-field appearance="fill" style="width:100%">
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" [readonly]="isReadOnly" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="isReadOnly"></mat-datepicker>
  </mat-form-field> -->

