<div class="trc-confirm-box">
    <div class="trc-confirm-box-content">
        <mat-icon *ngIf="!data.extras.hideIcon">{{data.extras.icon || 'error_outline'}}</mat-icon>
        <div class="title" *ngIf="!data.extras.hideTitle">Are you sure?</div>
        <p>{{ data.bodyText }}</p>
    </div>
    <div class="trc-confirm-box-actions">
        <button mat-button class="trc-confirm-box-actions-warn mr-3" mat-dialog-close (click)="data.callback({ confirm: true, data: data })">
            {{ data.extras.confirmButtonText || 'Confirm' }}
        </button>
        <button mat-button class="trc-confirm-box-actions-cancel" mat-dialog-close (click)="data.callback({ confirm: false, data: null })">
            {{ data.extras.cancelButtonText || 'Cancel' }}
        </button>

    </div>
</div>