<ion-row>
  <ion-col size="12" class="service-detail_slider">
    <!-- service-State list Start-->
    <div class="service-states-container">
      <div class="arrow-container left">
        <img src="assets/images/action-icons/icon_networkmap_arrow_left.svg" alt="move left" (click)="next()" />
      </div>
      <ion-slides [options]="slideOpts" #slides>
        <ion-slide *ngFor="let item of tilesList">
          <div class="service-state">
            <div class="{{ item.className }} state">
              <img src="{{ item.imgPath }}" alt="{{ item.altText }}" />
            </div>
            <ion-label>
              {{ item.text1 }}
              <span>{{ item.text2 }}</span>
            </ion-label>
          </div>
        </ion-slide>
      </ion-slides>
     <!--  <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
      <div class="arrow-container right">
        <img src="assets/images/action-icons/icon_networkmap_arrow_right.svg" alt="move right" (click)="prev()" />
      </div>
      
      <!-- service-States list Start-->
    </div>
  </ion-col>
</ion-row>
